*{
	padding:0;
	margin:0;
}

body{
  margin: 0;
}

// index.html.erb

.menu_form{
  position: fixed;
  width: 100%;
  background-color: #2C2C2C;
  z-index: 1;
}

.menu_form .menu_list{
  margin-left: 26%;
  width: 83%;
  display: block;
}

.contain{
  position: absolute;
  width: 100%;
  margin-bottom: 0%;
  z-index: 2;
}

.navi{
  background-color: #2C2C2C;
  width: 100%;
  position: fixed;
  z-index: 999;

}

.navi .logo{
  width: 20%;
  margin: 4%;

}

.navi #menu{
  width: 10%;
  margin: 5% 4% 4% 4%;
  float: right;
}

.content{
  background-color: #424242;
  color: white;
  width: 92.5%;
  padding: 4%;
  margin-top: 15%;
}

.content .content_full_element{
  width: 100%;
  margin: 5% 0% 5% 0%;
  position: relative;
}

.video_small{
  padding:5% 0 10%;
}

.video_small .video_div{
  width: 32%;
  display: inline-block;
}

.video_small .video_div.second,
.video_small .video_div.third{
  width: 32%;
  display: inline-block;
  margin-left:1%;
}

.video_small .link_movie_1{
  width: 100%;
}

.video_small .link_movie_2{
  width: 100%;
}


.video_small .video_twitter{
  width: 48%;
}

.video_small .video_facebook{
  width: 48%;
}

.poster{
  background-image: asset-url("mobile/background.jpg");
  width: 100%;
  text-align: center;
}

.poster .poster_title{
  width: 90%;
  margin: 20% 5% 5% 5%;
}

.poster #poster_box{
  width: 100%;
  overflow: hidden;
}

.poster #poster_inbox{
  width: 100%;
  display: inline-block;
  margin-left: 9%;
}

.owl-theme .owl-controls{
  width: 100%;
}

.poster .poster_element{
  width: 83%;
}

.poster .poster_button{
  width: 48%;
  margin-bottom: 8%;
}

.owl-theme .owl-controls {
  width: 83%;
  margin-bottom: 15px;
}
.owl-theme .owl-controls .owl-buttons{
  width: 100%;
  margin-top: -80%;
  margin-left:-9%;
  position: absolute;

}


.owl-theme .owl-controls .owl-buttons .owl-prev{
  float:left;
}
.owl-theme .owl-controls .owl-buttons .owl-next{
  float:right;
}

.owl-theme .owl-controls .owl-page span{
  background: none;
  border: 3px solid #343434;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin-right: 14px;
}
.poster .poster_scroll{
  width: 6%;
  margin: 0 2% 8% 2%;
}

.poster .gift{
  width: 100%;
}

.poster_text_inner{
	padding:0 0 5% 0;
}
.poster_text_inner img{
	width:60%;
}

.site{
  width: 100%;
  padding-top: -3%;
  text-align: center;
  background-color: white;
}
.sub_title_inner{
	width:90%;
	margin:0 auto;
	padding:0 0 8%;
}
.sub_title{
	width:100%;
}

#brand_talk{
	background:#fff;
}

.about_top{
	position:relative;
	width: 100%;
}
.about_top .site_btn{
  width: 48%;
  position:absolute;
  left:25%;
  bottom:8%;
}
.about_top .img img{
  width: 100%;
}


.site .site_content{
  margin: 12%;
  width: 76%;
}

.caution{
  width: 100%;
  background-color: #262626;
}



// thanks.index.erb

.popup{
  width: 100%;
  background-color: #464646;
  text-align: center;
}

.navi2{
  background-image: asset-url('mobile/background.jpg');
  background-image:none;
  background:#000;
  width: 100%;
}

.navi2 #exit{
  width: 10%;
  margin: 2% 2% 2% 85%;
}

.popup_title{
  width: 85%;
  margin-top: 6%;
	margin-bottom: 6%;
}

.input_box{
  width: 100%;
  margin-top: 5%;

  background-color: #363636;
  padding: 5% 0% 5% 0%;
  text-align: center;
  margin-top: -2%;
}

.fields{
  text-align: left;
  padding-left: 5%;
}

.popup_input{
  border: 0;
  height: 18px;
  padding:3px;
  width: 65%;
  margin-left: 5%;
  display: inline-block;
  -webkit-appearance: none;
  -webkit-border-radius:0;
  border-radius:0;

}

.popup_input_address{
  width: 48%;
  margin-bottom: 3%;
}

.btn_address{
  width: 16%;
  padding:3px 0;
  border: 0;
  height: 25px;
  font-size: 0.5em;
  background: #bdbdbd;
  margin-top: -1%;
	vertical-align: middle;
}

#poster_inbox .item img{
    display: block;
}

.dummy{
  height: 500px;
}
.agree_box{
  text-align: left;
  padding-left: 17%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.text_agree_more{
  margin-left: 4%;
  width: 20%;
	vertical-align: middle;
}

.apply_btn{
  width: 60%;
  margin-bottom: 10%;
}

.ok_btn{
  width: 60%;
  margin-top: 6%;
}

.address_box{
	display: none;
	position: relative;
  width: 37%;
  right: -26%;
  margin: 0;
  padding: 0;
	border: 1px solid gray;
	overflow: scroll;
  font-size:8pt;
	background: white;
  margin-top: -2%;
  margin-bottom:1%;
}

.field_with_errors{
  display: inline;
  width: 45%;
}

.side_text{
	vertical-align: middle;
	width: 20%;
}

.field_with_errors .popup_input{
  background: #ffcfd9;
  border: 0;
}

.check_error{
}

.caution{
  background: #424242;
}

.agree_content{
  text-align: left;
  font-size: 10pt;
}
.info_input_radio{

}

.user_new_content{
  margin-top: 0;
}

.address_caption{
  font-size: 0.7em;
  margin-left: 27%;
}

.link_movie_icon{
  text-decoration: none;

}

.agree_wrapper{
  margin-top: 0;
}
