html{
  width: 100%;
}
.clearfix:after {
  clear: both;
  display: block;
  content: " ";
  height: 0px;
  visibility: hidden;
}
// .clearfix {
//   display: inline-block;
// }
/* Hide these rules from IE-mac \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
li.clearfix {
  display: list-item;
}


styles.cssa{
  text-decoration: none;
}
img{
  border: 0;
}
*{
  padding:0;
  margin:0;
}
body{
  background-color: #ffffff;
  width: 100%;
}
a{
  text-decoration: none;
}

.center{
  width: 960px;
  margin: 0 auto;
  position:relative;
}
.contents_wrapper{
  padding: 50px 0;
  background-color: transparent
}
#nav_bar{
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 999;
  background-color: #2c2c2c;
}
#nav_bar .center{
  height: 90px;
}
#nav_bar a{
	display:block;
	position: absolute;
	top: 25px;
	right: 0;
}

#nav_bar a.logo_a{
	width:100px;
	height:40px;
	position: absolute;
	top: 25px;
	left: 0;
	width: 95px;	
}
.headroom {
  -webkit-transition: -webkit-transform 200ms linear;
  -moz-transition: -moz-transform 200ms linear;
  -o-transition: -o-transform 200ms linear;
  -ms-transition: -ms-transform 200ms linear;
  transition: transform 200ms linear;
}
.headroom--pinned {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.navigation{
  position:absolute;
  top:10px;
  left:380px;
  height: 52px;
}

#nav_bar .navigation a{
	display:block;
	position: relative;
	top: 0;
	right: 0;
}

.navigation_list{
  display: inline-block;
  padding: 0px 20px;
}

.navi_list{
  padding-top: 15px;
  float: left;
  list-style-type: none;
}
.navi_line{
  padding-top: 8px;
}
.nav_vertical_line{
  display: inline-block;
  margin-top: 4px;
  width: 2px;
  height: 40px;
  background-color: #a8a8a8;
}


#brand_flim{
  padding-top: 116px;
  background-image: asset-url("pc/bg_gray.png");
}
.title_brand_flim{
  margin-bottom: 20px;
}
.movie_wrapper{
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 20px;
  background-color: #000;
}

.share_facebook_on_movie{
//  border: solid red 1px;
  float: left;
  visibility: visible;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 200px;
  left: 370px;
  background: #00f;
  opacity: 0;
  z-index: 2;
}
.share_twitter_on_movie{
//  border: solid red 1px;
  float: left;
  visibility: visible;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 200px;
  left: 530px;
  background: #0f0;
  opacity: 0;
  z-index: 2;
}

.share_on_movie{
  visibility: visible;
  position: absolute;
  width: 960px;
  height: 500px;
  top: 0;
  left: 0;
  background: #000;
//  border: solid blue 1px;
  opacity: 0;
  z-index: 1;  
  display: none;
}
.other_movies{
  width: 860px;
  height: 70px;
  margin-top: 72px;
  margin-bottom: 20px;
}
.thumbnail_movie{
  float:left;
  padding: 0 18px;
  width:238px;
}
.thumbnail_movie_image{
  float: left;
  display:block;
  width:203px;
}
.title_thumbnail_movie{
  height: 40px;
  vertical-align: top;
  padding-top: 2px;
  padding-right: 20px;
}
.share_sns{
  float: left;
//  display: inline-block;
  height: 60px;
  padding-left: 6px;
  padding-right: -4px;
}
.share_facebook{
  display: block;
  vertical-align: top;
  padding: 4px 8px;
  margin-bottom: 6px;
}
.share_twitter{
  display: block;
  padding: 4px 2px;
}
.thumbnail_movie_vertical_line{
  float:left;
  width: 1px;
  height: 65px;
  background-color: #707070;
}

.article{
//  border: 1px solid red;
}

#poster_coupon{
//  display: block;
//  border: 1px solid red;
//  margin-right: -3000px;
//  padding-right: 3000px;
//  margin-left: -3000px;
//  padding-left: 3000px;

//  width: 100%;
  height: 1170px;
  background: asset-url("pc/poster/background.png") no-repeat 0 -100px;
  position:relative;
//  overflow-x: hidden;
}

.poster_coupon{
//  background: asset-url("pc/poster/background.png") no-repeat 0 -100px;
}
.poster_left_column{
  float: left;
  width: 440px;
}
.title_poster{
  margin-top: 80px;
  margin-bottom:50px;
}
.poster_list{
  list-style-type: none;
  width: 440px;
}
.poster_list .posters_thinking{
  background-image: asset-url("pc/poster/posters_thinking.png");
  background-repeat: no-repeat;
  background-position: 0;
}
.poster_list .poster_item{
  display: block;
  float:left;
  position: relative;
  width: 110px;
  height: 156px;
  padding: 6px 8px 6px 0;
}
.view_hover{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  padding: 39px 15px;
  opacity: 0;
  filter: alpha(opacity=0);
  transition:opacity .2s ease, opacity .2s ease;
}
.view_hover:hover{
  opacity: 1.0;
  filter: alpha(opacity=1.0);
}
.poster_right_column{
  float: right;
  position:relative;
}
.poster_wrapper{
  width:500px;
  height: 810px;
  padding-left: 0;
  padding-top: 0;
  margin-top:-20px;
  position:absolute;
  top:0;
  right:0;
  z-index:1;
}

.poster_request_wrapper{
  width: 210px;
  position:absolute;
  top:450px;
  right:-140px;
  z-index:2;
  display:block;
}

.poster_request_wrapper .inner{
	position:relative;
}
.poster_request_wrapper .inner #request_poster{
	position:absolute;
	display:block;
}
.poster_request_wrapper .inner .share_sns{
	position:absolute;
	right:10px;
	top:50px;
	float:none;
	padding:0;
}

// 바꾸는게 가능할 듯
.poster_hidden{
  display: none;
}
.poster_display{
  display: run-in;
}
.poster_gift{
  margin-top: 100px;
}

#brand_talk{
  width: 100%;
  background: asset-url("pc/bg_about.png") no-repeat center -50px ;
}
.brand_left_column{
  float: left;
  position: relative;
  height:400px;
}
.brand_talk_title{
  margin-top: 60px;
  vertical-align: top;
}
.brand_right_column{
  float: right;
  margin-top: 480px;
  margin-right: 240px;
}
.link_frostine_site{
  margin-top: 20px;
}
.title_comment{
  margin-top: 70px;
  margin-bottom: 10px;
}
.comment_list_wrapper{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #eaeaea;
}
@-webkit-keyframes changed {
	0%, 100%{
		-webkit-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50%{
		-webkit-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
	}
}

@-moz-keyframes changed {
	0%, 100%{
		-moz-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50%{
		-moz-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
	}
}

@keyframes changed {
	0%, 100%{
		box-shadow:0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50% {
		box-shadow:0px 0px 14px 5px rgba(151, 67, 159, 0.5);
	}
}
@-ms-keyframes changed {
	0%, 100%{
		-ms-box-shadow:0px 0px 14px 5px rgba(151, 67, 159, 0);
		box-shadow:0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50% {
		-ms-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
	}
}
.star{
  margin-left:2px;
  color:#AA1B1B;
  display:inline-block
}
.star.name{
  margin-left:4px;
  }
.star.phone{
  margin-left:4px;
  }
.star.agree{
  }
.star.agree2{ 
margin-top:6px;
  }

.icheckbox_minimal{
  .star{
    margin-left:25px;
  }

}

.popup_info_to_personal{
  margin-left:10px;
}

.close-modal{
  display: none;
}
.b-modal {
  background: rgba(0, 0, 0, 0.7) !important;
  opacity: 1 !important;
}

.address_list:hover{
	background: #000;
	color:#fff;
}

.address_box{
  float: left;
	position: absolute;
	background: white;
	border: 0px;
	width: 400px;
	height: 350px;
	padding:20px;
	overflow: scroll;
  display: none;
}

#about_event{
  width: 100%;
  background-image: asset-url("pc/bg_gray.png");
}

.popup{
  display: none;
  background-color: transparent;
}

#popup_personal .popup_contents_wrapper{
  height: 560px;
}


#popup_brand .popup_contents_wrapper{
  height: 560px;
}

.snow_icon{
  margin-top: 20px;
  margin-left: 190px;
  margin-bottom: 10px;
}
.privacy_wrapper{
  width: 320px;
  height: 410px;
  margin: 10px auto;
  padding:20px;
  background-color: #f1f0f0;
  overflow-y: scroll;
  font-size:12px;
}
.bt_confirm{
  width: 132px;
  margin-top: 10px;
  margin-left: 130px;
}

.popup_contents_wrapper{
  float: left;
  width: 400px;
  height: 300px;
  background-color: white;
  position:relative;
}
.popup_contents_wrapper2{
  float: left;
  width: 400px;
  height: 480px;
  background-color: white;
  position:relative;
}

.comment_popup_contents_wrapper{
  float: left;
  width: 460px;
  height: 300px;
  background-color: white;
  position:relative;
}
.popup_contents_wrapper .left{
	position:absolute;
	width:470px;
	height:560px;
	right:0;
	background-color:#fff;
}

.comment_popup_contents_wrapper .right{
	position:absolute;
	width:430px;
	height:580px;
	left:0;
	background-image: asset-url("pc/popup/bg_selected.png");
}


.comment_popup_contents_wrapper .left {
position: absolute;
width: 460px;
height: 490px;
right: 0;
background-color: #fff;
}

.popup_contents_wrapper .right .inner{
	position:relative;
}
.popup_contents_wrapper .right .inner .poster{
	position:absolute;
	z-index:1;
	left:50px;
}
.popup_contents_wrapper .right .inner .btn{
	position:absolute;
	z-index:2;
	top:508px;
	left:224px;
}

.popup_fn_title{
  margin-top: 40px;
  margin-left: 80px;
}
.bt_fn_confirm{
  margin-top: 30px;
  margin-left: 130px;
}

#participation_event .popup_contents_wrapper{
  float: left;
  width: 900px;
  background-color: white;
}

.address_wrapper{
  margin: 10px;
  background-color: white;
}
.address_wrapper li{
	font-size:13px;
	padding:5px;
	list-style:none;
	border-bottom:1px solid #ddd;
}

.close{
  float: left;
  width: 46px;
  height: 46px;
  vertical-align: top;
  cursor: auto;
}

.participate_event_wrapper{
  position: relative;
  height: 560px;
}
.title_participation_event{
  display: block;
  margin-top: 30px;
  margin-left: 90px;
}
.input_information_form{
  display: block;
  width: 380px;
  height: 190px;
  margin-top: 20px;
  margin-left: 44px;
  padding-top: 30px;
  background-image: asset-url("pc/popup/input_form_background.png");
  background-repeat: no-repeat;
}

.comment_event_input_information_form{
  display: block;
  width: 380px;
  height: 190px;
  margin-top: 20px;
  margin-left: 44px;
  padding-top: 30px;
  background-image: asset-url("pc/popup/popup_comment_input_background.png");
  background-repeat: no-repeat;
}
//input[type=text]
.popup_input{
  border: 0px;
  display: block;
  width: 200px;
  height: 28px;
  margin-left: 120px;
  font-size:13px;
}
.input_name{
  margin-bottom: 18px;
}
.input_phone{
  margin-bottom: 23px;
}
.input_address{
  width: 160px;
  margin-bottom: 4px;
  float: left;
}

.btn_address{
  border: 0px;
  height: 28px;
  width: 32px;
  margin-left: 5px;
}

.input_detail_address{
  margin-bottom: 44px;
}


input[type=checkbox]{
  width: 20px;
  height: 20px;
  border: solid 1px;
  background-color: white;
}

.comment_agree_wrapper {
position: relative;
width: 200px;
height: 40px;
margin-top: 60px;
margin-left: 100px;
}
.comment_event_wrapper {
position: relative;
height: 490px;
}

.agree_wrapper{
  position: relative;
  width: 200px;
  height: 40px;
  margin-top: 10px;
  margin-left: 100px;
}
.agree_personal_info{
  position: absolute;
}
.agree_dealing_personal_info{
  position: absolute;
  top: 22px;
}
.checkboxes{
  float:left;
}
.checkbox-image{
  float:left;
}
.checkbox-buttons{
  float:left;
}
.agree1{
  width: 20px;
}
.agree2{
  width: 20px;
}
.image_agree{
  position: relative;
  left: 31px;
  top: 1;
}
.view_more_personal_info{
  position: absolute;
  top: -4px;
  left: 112px;
}


.view_more_brand_info{
  position: absolute;
  top: 19px;
  left: 155px;
}

#bt_submit{
  display: block;
  height: 50px;
  margin-top: 14px;
  margin-left: 100px;
}
.more_info{
  position: absolute;
  bottom: 10px;
}

.agree_content{
  margin: 10px;
  text-align: left;
  font-size: 10pt;
}

.brand_leaflet{
  width: 100%;
}

.title_comment_event_input{
  display: block;
  margin-top: 30px;
  margin-left: 120px;
}