<div class="popup">
  <div class="navi2">
    <%= link_to(image_tag("mobile/exit.png", id:"exit"), new_mobile_user_path) %>
  </div>
  <div class="content agree_wrapper">
    <div class="agree_content">
    <p>■ 브랜드 정보 전송 동의</p>
    <p>&nbsp;</p>
    <p>프로스틴 은 수집된 개인정보를 이용하여 각종 서비스·상품 및 타사 서비스와 결합된 상품에 대하여 홍보, 이벤트 목적으로 본인에게 정보/광고를 SMS, MMS 등을 통해 전달합니다.</p>
    <p>&nbsp;</p>
    <p>(주)LG생활건강은 마케팅 / 홍보를 위하여 고객의 개인정보를 이용에 동의를 구하며, 동의 거부 시에도 이벤트 참여는 가능하나 할인 및 이벤트 정보 안내 등 서비스는 제한될 수 있습니다.</p>
    <p></p>
  </div>
  <div class="dummy">
  </div>
</div>
