<div class="popup">
  <div class="navi2">
    <%= link_to(image_tag("mobile/exit.png", id:"exit"), "index") %>
  </div>
  <div class="content">
    약관 내용
    약관 내용
    약관 내용
    약관 내용
    약관 내용
  </div>
</div>
