<div class="popup">
  <div class="navi2">
    <%= link_to(image_tag("mobile/exit.png", id:"exit"), "index") %>
  </div>
  <div class="content">
    <%= image_tag("mobile/already/title.png", class:"popup_title") %>
    <%= link_to(image_tag("mobile/already/button.png", class:"ok_btn"), "index") %>
  </div>
</div>
