<div class="popup">
  <div class="navi2">
    <%= link_to(image_tag("mobile/exit.png", id:"exit"), "#exit") %>
  </div>
  <div class="content">
    <%= image_tag("mobile/fail/title.png", class:"popup_title") %>
    <%= link_to(image_tag("mobile/fail/button.png", class:"ok_btn"), "#fail_btn_event") %>
  </div>
</div>
