<div id="leaflet_inbox" class="owl-carousel owl-theme-leaflet leaflet_inbox">
	<% 18.times do |i|%>
	<div class="item leaflet_item">
		<%= image_tag("leaflet/20140704_#{i+1}.jpg", class: "brand_leaflet") %>
  </div>
	<% end %>
</div>