<div class="popup">
  <div class="navi2">
    <%= link_to(image_tag("mobile/exit.png", id:"exit"), mobile_index_path) %>
  </div>
  <div class="content user_new_content">
     <%= image_tag("mobile/out_of.png", class:"popup_title2") %>
	 <%= link_to(image_tag("mobile/thanks/button.png", class:"ok_btn"), mobile_index_path) %>
  </div>
</div>
