<div class = "popup" id = "popup_brand">
    <div class = "popup_contents_wrapper">
        <%= image_tag("pc/popup/snow_icon.png", class: "snow_icon") %>
        <div class = "privacy_wrapper centering">
            <div class="personal_caution">
              <p>브랜드 정보 제공 선택사항</p>
            </div>
        </div>
        <a href = "#">
            <%= image_tag("pc/popup/popup_bt_confirm.png", class: "bt_confirm") %>
        </a>
    </div>
    <a href = "#">
        <%= image_tag("pc/popup/popup_bt_close.png", class: "close clearfix") %>
    </a>
</div>  