<div class = "popup" id = "popup_personal">
    <div class = "popup_contents_wrapper">
        <%= image_tag("pc/popup/snow_icon.png", class: "snow_icon") %>
        <div class = "privacy_wrapper centering">
            <div class="personal_caution">
              개인정보 보호를 위한 이용자 동의 사항<br><br>

            
            </div>
        </div>
    </div>
    <a href = "#">
        <%= image_tag("pc/popup/popup_bt_close.png", class: "close clearfix") %>
    </a>
</div>
   
   