<img alt="" class="thumb thumb--m mbxs mhc" height="100" src="https://secure.gravatar.com/avatar/8d1f6d4e67c0b9de5e0d7489eaa7f5e1.jpg?s=100&r=pg&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F1c02274fedcce55a289172bfb8db25ab.jpg%3Fs%3D100%26r%3Dpg" width="100" />
<div class='card card--b mbm--m mbs' id='course-overview'>
  <div class='bucket bucket--flag'>
    <div class='bucket-media dn db--m'>
      <div class='badge'>
        <img alt="Badge for level 1 on JavaScript Best Practices" class="badge-img" height="110" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/431/level-1-on-javascript-best-practices-dbf4a18275286110037ee1051cbe3f6a.png" width="110" />
      </div>
    </div>

    <div class='bucket-content'>
      <h3>
      <b>토플</b>
      James Newton
      <span class='db di--m mls--m tcs tsxs twn'>4 videos | 21 reviews</span>
      </h3>
      <p class='mbf'>캘리포니아 출신 선생님의 유쾌한 명강의.</p>
    </div>
  </div>
</div>
