         <div id="second_week_winner" class="weekly_winner_list">
			   <ul>
					<li class="clearfix"><span class="name">김지*</span><span>641*</span></li>
					<li class="clearfix"><span class="name">임혜*</span><span>602*</span></li>
					
				</ul>
        
				<ul>
				
					
					<li class="clearfix"><span class="name">김노*</span><span>023*</span></li>
					<li class="clearfix"><span class="name">이주*</span><span>740*</span></li>
				 </ul>	
         
			   <ul>
					<li class="clearfix"><span class="name">김희*</span><span>611*</span></li>
					<li class="clearfix"><span class="name">최*</span><span>813*</span></li>
				
			   </ul>   
			   <ul>
					
					<li class="clearfix"><span class="name">장미*</span><span>366*</span></li>
					<li class="clearfix"><span class="name">오유*</span><span>719*</span></li>
				
			   </ul>
		   	   </div>