
<main class='content'><div class='row row--b'>
<div class='cell well tci'>
<div class='mbm mbl--m pts tac'>
<h1 class='mbf tci'>PUBLIC SPEAKING COURSE</br>3회차 </h1>
</div>

<div class='g mbxl--m'>
<div class='g-b g-b--m--1of2'>
<div class='card card--a card--xs'>
<!--<div class='video video--backdrop video--sublime'>-->
<div id='circle' style='border-radius: 50%; width: 18px; height: 18px; background-color: red; display: none; position: absolute; right: 6%; top: 6%;'></div>
<video id='webcam' width="100%" autoplay></video>
<!--</div>-->
</div>
</div>
<div class='g-b g-b--m--1of2'>
<div class='mbl tac tal--m'>
<br><br>
<a href="#" id='submit-btn' class="btn btn--wide bc-cadet-dark mbs mbf--l">녹화하기</a>
</div>
<!-- <ul class='list list--object'>
<li class='list-item list-item--label'>Learn:</li>
<li class='list-item'><a href="/paths/electives#git-basics" class="tag tag--electives">Git</a></li>
<li class='list-item'><a href="/paths/javascript#backbone" class="tag tag--javascript">Backbone.js</a></li>
<li class='list-item'><a href="/paths/html-css#sass" class="tag tag--html-css">Sass</a></li>
<li class='list-item'><a href="/paths/ruby#starting-rails" class="tag tag--ruby">Rails</a></li>
<li class='list-item'><a href="/paths/javascript#jquery-basics" class="tag tag--javascript">jQuery</a></li>
</ul> -->
</div>
</div>
</div>
</div>

</main>

<script>
  var video = $('#webcam').get()[0];

  if( navigator.webkitGetUserMedia ){
      navigator.webkitGetUserMedia({"video":true}, function(stream){
      video.src = webkitURL.createObjectURL(stream);
    }, function(error){
      console.log("error");
    });
  }

  var submitState = 0;
  var intervalId = 0;
  $('#submit-btn').click(function(){
    switch( submitState ){
      case 0 :
        intervalId = setInterval(updateRecord, 1000);
        $('#submit-btn').html("녹화중지");
        break;
      case 1 :
        clearInterval(intervalId);
        $('#circle').css("display","none");
        $('#submit-btn').html("전송하기");
        break;
      case 2 :
        intervalId = setInterval(updatePercent, 95);
        break;
      default :
        break;
    }
    submitState++;
  });

  var rUpdate = true;

  function updateRecord(){
    if( rUpdate == true ){
      $('#circle').css("display","block");
      rUpdate = false;
    } else {
      $('#circle').css("display","none");
      rUpdate = true;
    }
  }


  var fUpdate = 0;

  function updatePercent(){
    if( fUpdate >= 100 ){
      clearInterval(intervalId);
      location.href = "index?flag=1";
    }
    else{
      $('#submit-btn').html(fUpdate+"%");
    }
    fUpdate++;
  }

</script>
