
<main class='content'><div class='row row--b'>
<div class='cell well tci'>
<div class='mbm mbl--m pts tac'>
<h1 class='mbf tci'>PUBLIC SPEAKING COURSE</br>3회차 </h1>
</div>

<div class='g mbxl--m'>
<div class='g-b g-b--m--1of2'>
<div class='card card--a card--xs'>
<!--<div class='video video--backdrop video--sublime'>-->
<video id='webcam' width="100%" autoplay></video>
<!--</div>-->
</div>
</div>
<div class='g-b g-b--m--1of2'>
<div class='mbl tac tal--m'>
<br><br>
<a href="/courses" class="btn btn--wide bc-cadet-dark mbs mbf--l">전송하기</a>
</div>
<!-- <ul class='list list--object'>
<li class='list-item list-item--label'>Learn:</li>
<li class='list-item'><a href="/paths/electives#git-basics" class="tag tag--electives">Git</a></li>
<li class='list-item'><a href="/paths/javascript#backbone" class="tag tag--javascript">Backbone.js</a></li>
<li class='list-item'><a href="/paths/html-css#sass" class="tag tag--html-css">Sass</a></li>
<li class='list-item'><a href="/paths/ruby#starting-rails" class="tag tag--ruby">Rails</a></li>
<li class='list-item'><a href="/paths/javascript#jquery-basics" class="tag tag--javascript">jQuery</a></li>
</ul> -->
</div>
</div>
</div>
</div>

</main>