
  <!DOCTYPE html>
  <!--[if IE ]>      <html lang="en" xmlns:fb="http://ogp.me/ns/fb#" class="ie"> <![endif]-->
  <!--[if !IE]><!--> <html lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->

  <head>
  <meta content='text/html;charset=UTF-8' http-equiv='Content-type'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <meta content="authenticity_token" name="csrf-param" />
  <meta content="BmSxtpSqDBGfG0s4BZDeMDGOGri2BpgeGssSH/o1mBg=" name="csrf-token" />
  <!-- Open Graph protocol: -->
  <meta property="og:title" content="Courses - Code School" />
  <meta property="og:description" content="Learn to code with video tutorials, programming challenges, and web development screencasts." />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:url" content="https://www.codeschool.com/courses" />
  <meta property="og:image" content="https://d1tijy5l7mg5kk.cloudfront.net/assets/avatar-a7963e6d93e4ef2b189178f3e94c48c2.png" />
  <meta property="og:site_name" content="Code School" />
  <meta property="fb:admins" content="5200953" /><meta property="fb:admins" content="40012883" />

  <title>Courses - Code School</title>
  <link href='https://d1tijy5l7mg5kk.cloudfront.net/assets/favicon-2dd7fb4d42b0a663fe5123e30d9ea3d2.ico' rel='shortcut icon' type='image/x-icon'>
  <link href='https://d1tijy5l7mg5kk.cloudfront.net/assets/apple-touch-icons/180x180-f292ff7f84322dc035e4bc2e16a1afc8.png' rel='apple-touch-icon'>
  <link href='https://d1tijy5l7mg5kk.cloudfront.net/assets/apple-touch-icons/192x192-7de436f1d3c3c4741a6be84498f4cc25.png' rel='icon' sizes='192x192'>


  <meta name="description" content="Learn to code with video tutorials, programming challenges, and web development screencasts." />
  <link href='' rel='canonical'>
  <link href="https://d1tijy5l7mg5kk.cloudfront.net/assets/application-6459da591414eff630c472ea16636d05.css" media="screen" rel="stylesheet" type="text/css" />


  </head>
  <body class=' courses courses-index '>
  <div class='dn db--m'>

  </div>
  <ul class='js-notes has-note'></ul>
  <!-- Header -->
  <header class='header row has-dropdown ovh ovv--m'>
  <div class='cell'>
  <div class='g'>
  <div class='g-b g-b--m--1of4'>
  <div class='header-item header-item--brand brand fl' itemscope itemtype='http://schema.org/Organization'>
  <a href="/" class="brand-link" itemprop="url"><img alt="Code School" class="brand-img" height="34" itemprop="logo" src="https://d1tijy5l7mg5kk.cloudfront.net/assets/logo-dd0420d66e370a02a3f4ba92e67ebb3a.svg" width="189" />
  </a></div>
  </div>
  <div class='g-b g-b--m--3of4'>
  <nav class='header-item nav' id='site-navigation'>
  <a href="#" class="nav-menu fr"><div class='nav-box'></div>
  <div class='nav-menu-stack'>
  <b class='srt'>Menu</b>
  </div>
  </a><ol class='nav-list list fr'>
  <li class='nav-item list-item'><%= link_to '코스보기', pc_courses_path, class: "nav-item-link list-item-link" %>
  </li>
  <li class='nav-item list-item'><%= link_to '강사보기', pc_professors_path, class: "nav-item-link list-item-link" %>
  </li>
  <li class='nav-item list-item'><%= link_to '회원가입', pc_mypage_path, class: "nav-item-link list-item-link" %>
  </li>
  <li class='nav-item list-item'><%= link_to '로그아웃', pc_mypage_path, class: "nav-item-link list-item-link" %>
  </li>
  </ol>
  </nav>

  </div>
  </div>
  </div>
  </header>


  <main class='content'><div class='row'>
  <div class='cell well'>
  <div class='cell cell--s well'>
  <h1 class='h2 mbm mtm tac thb tfl twn'>
  피치업이 준비한 <strong class="tfb">강력한 코스</strong>들을
  직접 확인하시고 당신의 <a href="/paths">영어 스킬</a>을 한 단계 업그레이드 해보세요. 
  <a href="/getting-started">수준별 테스트</a>를 이용해서 자신의 영어 수준을 테스트 해보세요.
  </h1>
  </div>


  <div class='g mbl' id='course-list'>
  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_115' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/front-end-foundations"><img alt="Front-end Foundations Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/448/course-complete-81fb30908f005de5c75e5376d041f05f.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>초급</span>
  <div class='di dn--m'>
  <a href="/paths/html-css" class="tag tag--header tag--html-css">TOEFL</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/pc/professors" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Front-end Foundations&quot;,&quot;source&quot;:&quot;All Courses&quot;}">자기소개 제대로 하기</a>
  <div class='dn di--m'>
  <a href="/paths/html-css" class="tag tag--header tag--html-css">HTML/CSS</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>Learn how to really introduce myself.</p>
  </div>
  </article>

  </div>
  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_114' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/mastering-github"><img alt="Mastering GitHub Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/443/complete-mastering-github-e998c0ab56c79b9074ad5e3c1427691a.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>중급</span>
  <div class='di dn--m'>
  <a href="/paths/electives" class="tag tag--header tag--electives">TOEIC</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/mastering-github" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Mastering GitHub&quot;,&quot;source&quot;:&quot;All Courses&quot;}">
    심층면접의 모든표현 익히기
  </a>
  <div class='dn di--m'>
  <a href="/paths/electives" class="tag tag--header tag--electives">Electives</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>Learn how to really introduce myself.</p>
  </div>
  </article>

  </div>
  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_113' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/javascript-best-practices"><img alt="JavaScript Best Practices Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/435/completed-javascript-best-practices-320e73d2694215bc24264e74a2f76528.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>고급</span>
  <div class='di dn--m'>
  <a href="/paths/javascript" class="tag tag--header tag--javascript">TEPS</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/javascript-best-practices" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;JavaScript Best Practices&quot;,&quot;source&quot;:&quot;All Courses&quot;}">뉴요커들이 쓰는 실제 표현</a>
  <div class='dn di--m'>
  <a href="/paths/javascript" class="tag tag--header tag--javascript">TEPS</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>Explore useful tips for informed and improved JavaScript development.</p>
  </div>
  </article>

  </div>



  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_108' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/surviving-apis-with-rails"><img alt="Surviving APIs with Rails Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/378/completed-surviving-apis-with-rails-482f87efd9827f52ecaa027f733592cb.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>중급</span>
  <div class='di dn--m'>
  <a href="/paths/ruby" class="tag tag--header tag--ruby">FREE TALKING</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/surviving-apis-with-rails" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Surviving APIs with Rails&quot;,&quot;source&quot;:&quot;All Courses&quot;}">글로벌 창업가가 알아야 할 필수 표현 1500</a>
  <div class='dn di--m'>
  <a href="/paths/ruby" class="tag tag--header tag--ruby">Ruby</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>Learn how to build and test web APIs with Ruby on Rails.</p>
  </div>
  </article>

  </div>

  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_115' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/front-end-foundations"><img alt="Front-end Foundations Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/448/course-complete-81fb30908f005de5c75e5376d041f05f.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>초급</span>
  <div class='di dn--m'>
  <a href="/paths/html-css" class="tag tag--header tag--html-css">TOEFL</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/front-end-foundations" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Front-end Foundations&quot;,&quot;source&quot;:&quot;All Courses&quot;}">영국식 표현 집중적 연습하기</a>
  <div class='dn di--m'>
  <a href="/paths/html-css" class="tag tag--header tag--html-css">HTML/CSS</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>Learn how to build a website with HTML and CSS.</p>
  </div>
  </article>

  </div>
  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_114' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/mastering-github"><img alt="Mastering GitHub Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/443/complete-mastering-github-e998c0ab56c79b9074ad5e3c1427691a.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>중급</span>
  <div class='di dn--m'>
  <a href="/paths/electives" class="tag tag--header tag--electives">TOEIC</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/mastering-github" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Mastering GitHub&quot;,&quot;source&quot;:&quot;All Courses&quot;}">청중 앞에서 당당하게 영어로 표현하기</a>
  <div class='dn di--m'>
  <a href="/paths/electives" class="tag tag--header tag--electives">Electives</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>Better collaboration through GitHub.</p>
  </div>
  </article>

  </div>
  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_113' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/javascript-best-practices"><img alt="JavaScript Best Practices Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/435/completed-javascript-best-practices-320e73d2694215bc24264e74a2f76528.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>고급</span>
  <div class='di dn--m'>
  <a href="/paths/javascript" class="tag tag--header tag--javascript">TEPS</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/javascript-best-practices" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;JavaScript Best Practices&quot;,&quot;source&quot;:&quot;All Courses&quot;}">미드에서 나오는 표현들 내것으로 만들기</a>
  <div class='dn di--m'>
  <a href="/paths/javascript" class="tag tag--header tag--javascript">TEPS</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>Explore useful tips for informed and improved JavaScript development.</p>
  </div>
  </article>

  </div>



  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_108' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/surviving-apis-with-rails"><img alt="Surviving APIs with Rails Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/378/completed-surviving-apis-with-rails-482f87efd9827f52ecaa027f733592cb.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>중급</span>
  <div class='di dn--m'>
  <a href="/paths/ruby" class="tag tag--header tag--ruby">FREE TALKING</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/surviving-apis-with-rails" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Surviving APIs with Rails&quot;,&quot;source&quot;:&quot;All Courses&quot;}">대학공부 필수 전공분야 표현 익히기</a>
  <div class='dn di--m'>
  <a href="/paths/ruby" class="tag tag--header tag--ruby">Ruby</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>Learn how to build and test web APIs with Ruby on Rails.</p>
  </div>
  </article>

  </div>
  
  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_115' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/front-end-foundations"><img alt="Front-end Foundations Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/448/course-complete-81fb30908f005de5c75e5376d041f05f.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>초급</span>
  <div class='di dn--m'>
  <a href="/paths/html-css" class="tag tag--header tag--html-css">TOEFL</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/front-end-foundations" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Front-end Foundations&quot;,&quot;source&quot;:&quot;All Courses&quot;}">일상생활의 비급표현 익히기</a>
  <div class='dn di--m'>
  <a href="/paths/html-css" class="tag tag--header tag--html-css">HTML/CSS</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>Learn how to build a website with HTML and CSS.</p>
  </div>
  </article>

  </div>
  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_114' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/mastering-github"><img alt="Mastering GitHub Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/443/complete-mastering-github-e998c0ab56c79b9074ad5e3c1427691a.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>중급</span>
  <div class='di dn--m'>
  <a href="/paths/electives" class="tag tag--header tag--electives">TOEIC</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/mastering-github" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Mastering GitHub&quot;,&quot;source&quot;:&quot;All Courses&quot;}">
    단어로 익히는 숙어표현 3000
  </a>
  <div class='dn di--m'>
  <a href="/paths/electives" class="tag tag--header tag--electives">Electives</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>Better collaboration through GitHub.</p>
  </div>
  </article>

  </div>
  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_113' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/javascript-best-practices"><img alt="JavaScript Best Practices Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/435/completed-javascript-best-practices-320e73d2694215bc24264e74a2f76528.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>고급</span>
  <div class='di dn--m'>
  <a href="/paths/javascript" class="tag tag--header tag--javascript">TEPS</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/javascript-best-practices" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;JavaScript Best Practices&quot;,&quot;source&quot;:&quot;All Courses&quot;}">기본 예절 상식과 필수 용어 2000개 마스터</a>
  <div class='dn di--m'>
  <a href="/paths/javascript" class="tag tag--header tag--javascript">TEPS</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>Explore useful tips for informed and improved JavaScript development.</p>
  </div>
  </article>

  </div>



  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_108' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/surviving-apis-with-rails"><img alt="Surviving APIs with Rails Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/378/completed-surviving-apis-with-rails-482f87efd9827f52ecaa027f733592cb.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>중급</span>
  <div class='di dn--m'>
  <a href="/paths/ruby" class="tag tag--header tag--ruby">FREE TALKING</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/surviving-apis-with-rails" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Surviving APIs with Rails&quot;,&quot;source&quot;:&quot;All Courses&quot;}">일상생활에서 익히는 영어표현</a>
  <div class='dn di--m'>
  <a href="/paths/ruby" class="tag tag--header tag--ruby">Ruby</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>Learn how to build and test web APIs with Ruby on Rails.</p>
  </div>
  </article>

  </div>  


  <div class='split mbl tac tal--m'>
  <div class='split-item'>
  <h4 class='split-cell'>Upcoming Courses</h4>
  <a href="/courses/suggest" class="btn btn--b split-cell mtm">Suggest A Course</a>
  </div>
  </div>





  <div class='g mbl'>
  <div class='g-b g-b--l--1of3'>
  <div class='card card--a has-card-row tac'>
  <div class='card-row card-row--n bc-cadet'>
  <span class='label tci'>Upcoming Course</span>
  </div>
  <h3>Staying Sharp With AngularJS</h3>
  <div class='card mbf'>
  <a class='btn btn--c btn--s js-remindMe' data-course-id='148' data-course-title='Staying Sharp With AngularJS' data-post-url='https://www.codeschool.com/courses/staying-sharp-with-angularjs/remind_me' data-target='#create-account' data-toggle='modal' href='#'>Remind Me</a>
  </div>
  </div>
  </div>
  <div class='g-b g-b--l--1of3'>
  <div class='card card--a has-card-row tac'>
  <div class='card-row card-row--n bc-cadet'>
  <span class='label tci'>Upcoming Course</span>
  </div>
  <h3>Try SQL</h3>
  <div class='card mbf'>
  <a class='btn btn--c btn--s js-remindMe' data-course-id='149' data-course-title='Try SQL' data-post-url='https://www.codeschool.com/courses/try-sql/remind_me' data-target='#create-account' data-toggle='modal' href='#'>Remind Me</a>
  </div>
  </div>
  </div>
  <div class='g-b g-b--l--1of3'>
  <div class='card card--a has-card-row tac'>
  <div class='card-row card-row--n bc-cadet'>
  <span class='label tci'>Upcoming Course</span>
  </div>
  <h3>Building Blocks of Express.js</h3>
  <div class='card mbf'>
  <a class='btn btn--c btn--s js-remindMe' data-course-id='150' data-course-title='Building Blocks of Express.js' data-post-url='https://www.codeschool.com/courses/building-blocks-of-express-js/remind_me' data-target='#create-account' data-toggle='modal' href='#'>Remind Me</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <form class='modal fade' id='create-account' method='post'>
  <div class='modal-dialog'>
  <div class='modal-content'>
  <div class='modal-header'>
  <h3>Enter your Email</h3>
  <p class='mbf'>We'll remind you when <span class='js-remindMe-courseTitle'>the course</span> is released.</p>
  <a href="#" class="modal-close close" data-dismiss="modal"><b class='srt'>Close</b>
  </a></div>
  <div class='modal-body'>
  <fieldset class='form-field'>
  <label class='form-label' for='email'>Email</label>
  <input class='form-input' id='email' name='email' required type='email'>
  </fieldset>
  <p class='card card--c mbf tac'>We will only email you once this course is released.</p>
  </div>
  <div class='modal-footer'>
  <input class='form-btn btn' data-disable-with='Creating Reminder...' type='submit' value='Remind Me'>
  </div>
  </div>
  </div>
  </form>

  </main>
  <footer class='footer'>
  <div class='row'>
  <div class='cell well'>
  <div class='g'>
  <div class='g-b g-b--m--1of2 g-b--l--2of5'>
  <div class='g'>
  <div class='g-b g-b--s--1of2'>
  <ul class='footer-list list mbl'>
  <li class='list-item'><a href="https://www.codeschool.com/users/sign_up" class="footer-list-link list-item-link twb">Create Free Account</a></li>
  <li class='list-item'><a href="https://www.codeschool.com/courses" class="footer-list-link list-item-link">View Courses</a></li>
  <li class='list-item'><a href="https://www.codeschool.com/courses/suggest" class="footer-list-link list-item-link">Suggest Course</a></li>
  <li class='list-item'><a href="https://www.codeschool.com/suggest/features" class="footer-list-link list-item-link">Suggest Feature</a></li>
  <li class='list-item'><a href="http://discuss.codeschool.com" class="footer-list-link list-item-link">Discuss</a></li>
  <li class='list-item'><a href="/support" class="footer-list-link list-item-link">Support</a></li>
  <li class='list-item'><a href="https://codeschool.getambassador.com/" class="footer-list-link list-item-link">Ambassador Program</a></li>
  </ul>
  </div>
  <div class='g-b g-b--s--1of2'>
  <ul class='footer-list list mbl'>
  <li class='list-item'><a href="https://www.codeschool.com/contact" class="footer-list-link list-item-link twb">Contact Code School</a></li>
  <li class='list-item'><a href="https://www.codeschool.com/about" class="footer-list-link list-item-link">About</a></li>
  <li class='list-item'><a href="http://www.codeschool.com/blog" class="footer-list-link list-item-link">Blog</a></li>
  <li class='list-item'><a href="https://www.codeschool.com/jobs" class="footer-list-link list-item-link">Jobs</a></li>
  <li class='list-item'><a href="http://shop.codeschool.com/" class="footer-list-link list-item-link">Shop</a></li>
  <li class='list-item'><a href="https://www.codeschool.com/terms_of_use" class="footer-list-link list-item-link">Terms of Use</a></li>
  <li class='list-item'><a href="https://www.codeschool.com/privacy_policy" class="footer-list-link list-item-link">Privacy Policy</a></li>
  </ul>
  </div>
  </div>
  </div>
  <div class='g-b g-b--m--1of2 g-b--l--3of5'>
  <div class='footer-about'>
  <img alt="Code School" class="db mbm" src="https://d1tijy5l7mg5kk.cloudfront.net/assets/logo-footer-a7325db3482bd10804609250e1d6315c.svg" />
  <p class='tsm'>
  <strong>Code School</strong> teaches web technologies in the
  comfort of your browser with video lessons, coding challenges,
  and screencasts. We strive to help you learn by doing.
  </p>
  <a href="https://www.codeschool.com/about" class="mbm tsm">Learn More</a>
  <ul class='list iconList'>
  <li class='iconList-item iconList-item--label'>Follow us on:</li>
  <li class='iconList-item'>
  <a href="https://twitter.com/codeschool" class="iconList-item-link footer-list-link"><b class='srt'>Twitter</b>
  <i class='icn icn--twitter iconList-item-icn'></i>
  </a></li>
  <li class='iconList-item'>
  <a href="https://www.facebook.com/CodeSchool" class="iconList-item-link footer-list-link"><b class='srt'>Facebook</b>
  <i class='icn icn--facebook iconList-item-icn'></i>
  </a></li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  <p class='footer-copyright'>&copy; 2014 Code School LLC - Crafted in Orlando.</p>
  </div>
  </footer>

  <script src="https://d1tijy5l7mg5kk.cloudfront.net/assets/vendor-5953aba019950b1ef9680594494931cf.js" type="text/javascript"></script>
  <script src="https://d1tijy5l7mg5kk.cloudfront.net/assets/application-5712bd27bec4469804e371e15f6c688e.js" type="text/javascript"></script>
  <script src="https://d1tijy5l7mg5kk.cloudfront.net/assets/analytics-a20d34f50543d01847974217832a6852.js" type="text/javascript"></script>
  <script src="//cdn.sublimevideo.net/js/33r2xa49.js" type="text/javascript"></script>


  <script type="text/javascript">
  /* <![CDATA[ */
  var _gaq = _gaq || [];
  _gaq.push(['ua97407499._require', 'inpage_linkid', '//www.google-analytics.com/plugins/ga/inpage_linkid.js']);_gaq.push(['ua974074923._require', 'inpage_linkid', '//www.google-analytics.com/plugins/ga/inpage_linkid.js']);
  _gaq.push(['ua97407499._setAccount', 'UA-9740749-9']);_gaq.push(['ua974074923._setAccount', 'UA-9740749-23']);
  _gaq.push(['ua974074923._setDomainName', 'none']);_gaq.push(['ua974074923._setAllowLinker', true]);_gaq.push(['ua974074923._addIgnoredRef', 'codeschool.com']);
  _gaq.push(['ua974074923._addIgnoredRef', 'jqueryair.com']);
  _gaq.push(['ua974074923._addIgnoredRef', 'railsforzombies.org']);
  _gaq.push(['ua974074923._addIgnoredRef', 'superrails.com']);
  _gaq.push(['ua974074923._addIgnoredRef', 'tryruby.org']);
  _gaq.push(['ua974074923._addIgnoredRef', 'railsbest.com']);
  _gaq.push(['ua974074923._addIgnoredRef', 'discover-devtools.codeschool.com']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  var _gaq = _gaq || [];
  _gaq.push(['ua97407499._trackPageview', '/courses']);
  _gaq.push(['ua974074923._trackPageview', '/codeschool.com/courses']);/* ]]> */
  </script>

  <script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/5212.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>

  <script src='//cdn.optimizely.com/js/120055048.js'></script>

        <script type="text/javascript">
          (function() {
    function async_load() {
      var s = document.createElement('script');
      s.type = 'text/javascript'; s.async = true;
      s.src = '//d3itxuyrq7vzpz.cloudfront.net/assets/reamaze.js';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
    if (window.attachEvent) {
      window.attachEvent('onload', async_load);
    } else {
      window.addEventListener('load', async_load, false);
    }
  })();

  var _support = _support || {}
  _support['account'] = 'codeschool';
  _support['ui'] = { container: '#knowledge-base', trigger: '#talk' };

        </script>


  <script>
    $(function(){
      $('.js-remindMe').on('click', function(){
        var link = $(this);
        var url = link.data('post-url');
        var course_id = link.data('course-id');
        var course_title = link.data('course-title');
        var submit = $('.modal').find('input[type=submit]');
        $('.js-remindMe-courseTitle').html(course_title);
        submit.prop('disabled', true);
        $('.modal').on('keyup', '#email', function(e){
          if (this.checkValidity()){
            submit.prop('disabled', false);
          } else {
            submit.prop('disabled', true);
          }
        })
        $('.modal').on('submit', function(e){
          e.preventDefault();
  
          $.post(url, $(this).serialize(), function(notification, status, jqXHR){
            if (!notification.error){
              link.replaceWith('<span class="label"><i class="icn icn--correct"></i> We\'ll Remind You</span>');
              $.cookie("course_reminder_" + course_id, 'true');
              $('.modal-close').click();
            } else {
              $('.modal').find('.help').text(notification.error);
              $.rails.enableElement(submit);
              submit.val(submit.text());
              submit.prop('disabled', false);
            };
  
          }, 'json');
        });
      });
  
      $('.js-remindMe').each(function(elem){
        var link = $(this);
        var course_id = link.data('course-id');
        if($.cookie('course_reminder_' + course_id) === 'true'){
          link.replaceWith('<span class="label"><i class="icn icn--check"></i> We\'ll Remind You</span>');
        };
      });
    });
  </script>

  </body>
