
  <main class='content'><div class='row'>
  <div class='cell well'>
  <div class='cell cell--s well'>
    <h1 class='h2 mbm mtm tac thb tfl twn'>
      <p>
        <span> 피치업이 준비한</span>
        <strong class="tfb">강력한 코스</strong>
        <span>들을 직접 확인하시고</span>

      </p>
      <p>
        <span>당신의 스피킹 능력을 한 단계 업그레이드 해보세요.</span>
      </p>
      <p>
        <%= link_to "수준별 테스트", pc_test_path, {class:'orange-deco-text'} %>
        <span>를 이용하여 자신의 영어 수준을</span>
        <span>테스트 해보세요.</span>
      </p>
    </h1>
  </div>


  <div class='g mbl' id='course-list'>
  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_115' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/front-end-foundations"><img alt="Front-end Foundations Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/448/course-complete-81fb30908f005de5c75e5376d041f05f.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>초급</span>
  <div class='di dn--m'>
  <a href="/paths/html-css" class="tag tag--header tag--html-css">TOEFL</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/pc/professors" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Front-end Foundations&quot;,&quot;source&quot;:&quot;All Courses&quot;}">자기소개 제대로 하기</a>
  <div class='dn di--m'>
  <a href="/paths/html-css" class="tag tag--header tag--html-css">HTML/CSS</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>매 번 긴장하게 되는 자기소개, 피치업에서 확실하게 잡아주세요.</p>
  </div>
  </article>

  </div>
  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_114' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/mastering-github"><img alt="Mastering GitHub Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/443/complete-mastering-github-e998c0ab56c79b9074ad5e3c1427691a.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>중급</span>
  <div class='di dn--m'>
  <a href="/paths/electives" class="tag tag--header tag--electives">TOEIC</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/mastering-github" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Mastering GitHub&quot;,&quot;source&quot;:&quot;All Courses&quot;}">
    심층면접의 모든표현 익히기
  </a>
  <div class='dn di--m'>
  <a href="/paths/electives" class="tag tag--header tag--electives">Electives</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>외국계 회사 입사, 피치업이 확실하게 도와드릴께요.</p>
  </div>
  </article>

  </div>
  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_113' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/javascript-best-practices"><img alt="JavaScript Best Practices Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/435/completed-javascript-best-practices-320e73d2694215bc24264e74a2f76528.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>고급</span>
  <div class='di dn--m'>
  <a href="/paths/javascript" class="tag tag--header tag--javascript">TEPS</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/javascript-best-practices" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;JavaScript Best Practices&quot;,&quot;source&quot;:&quot;All Courses&quot;}">뉴요커들이 쓰는 실제 표현</a>
  <div class='dn di--m'>
  <a href="/paths/javascript" class="tag tag--header tag--javascript">TEPS</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>유학준비, 美명문대 출신 선배들이 콕콕 집어줍니다.</p>
  </div>
  </article>

  </div>



  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_108' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/surviving-apis-with-rails"><img alt="Surviving APIs with Rails Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/378/completed-surviving-apis-with-rails-482f87efd9827f52ecaa027f733592cb.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>중급</span>
  <div class='di dn--m'>
  <a href="/paths/ruby" class="tag tag--header tag--ruby">FREE TALKING</a>
  </div>
  </div>
  <h2 class='course-title'>
  <!-- <a href="/courses/surviving-apis-with-rails" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Surviving APIs with Rails&quot;,&quot;source&quot;:&quot;All Courses&quot;}">글로벌 창업가가 알아야 할 필수 표현 1500제</a> -->
  <%= link_to "글로벌 창업가가 알아야 할 필수 표현 1500제", pc_professors_path, {class:"course-title-link" }%>
  <div class='dn di--m'>
  <a href="/paths/ruby" class="tag tag--header tag--ruby">Ruby</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>한국 좁잖아요. 넓은 판에서 제대로 놀아보세요.</p>
  </div>
  </article>

  </div>

  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_115' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/front-end-foundations"><img alt="Front-end Foundations Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/448/course-complete-81fb30908f005de5c75e5376d041f05f.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>초급</span>
  <div class='di dn--m'>
  <a href="/paths/html-css" class="tag tag--header tag--html-css">TOEFL</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/front-end-foundations" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Front-end Foundations&quot;,&quot;source&quot;:&quot;All Courses&quot;}">영국식 표현 집중적 연습하기</a>
  <div class='dn di--m'>
  <a href="/paths/html-css" class="tag tag--header tag--html-css">HTML/CSS</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>셜록의 품격있고 고상한 영어발음, 영국남자가 도와드릴께요.</p>
  </div>
  </article>

  </div>
  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_114' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/mastering-github"><img alt="Mastering GitHub Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/443/complete-mastering-github-e998c0ab56c79b9074ad5e3c1427691a.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>중급</span>
  <div class='di dn--m'>
  <a href="/paths/electives" class="tag tag--header tag--electives">TOEIC</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/mastering-github" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Mastering GitHub&quot;,&quot;source&quot;:&quot;All Courses&quot;}">청중 앞에서 당당하게 영어로 표현하기</a>
  <div class='dn di--m'>
  <a href="/paths/electives" class="tag tag--header tag--electives">Electives</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>쉽고 간결하게. 유쾌하게.</p>
  </div>
  </article>

  </div>
  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_113' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/javascript-best-practices"><img alt="JavaScript Best Practices Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/435/completed-javascript-best-practices-320e73d2694215bc24264e74a2f76528.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>고급</span>
  <div class='di dn--m'>
  <a href="/paths/javascript" class="tag tag--header tag--javascript">TEPS</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/javascript-best-practices" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;JavaScript Best Practices&quot;,&quot;source&quot;:&quot;All Courses&quot;}">미드에서 나오는 표현들 내것으로 만들기</a>
  <div class='dn di--m'>
  <a href="/paths/javascript" class="tag tag--header tag--javascript">TEPS</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>텝스는 피치업에서.</p>
  </div>
  </article>

  </div>



  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_108' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/surviving-apis-with-rails"><img alt="Surviving APIs with Rails Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/378/completed-surviving-apis-with-rails-482f87efd9827f52ecaa027f733592cb.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>중급</span>
  <div class='di dn--m'>
  <a href="/paths/ruby" class="tag tag--header tag--ruby">FREE TALKING</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/surviving-apis-with-rails" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Surviving APIs with Rails&quot;,&quot;source&quot;:&quot;All Courses&quot;}">대학공부 필수 전공분야 표현 익히기</a>
  <div class='dn di--m'>
  <a href="/paths/ruby" class="tag tag--header tag--ruby">Ruby</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>美명문대 출신 선생님들의 피가 되고 살이 되는 전공영어 강의.</p>
  </div>
  </article>

  </div>

  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_115' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/front-end-foundations"><img alt="Front-end Foundations Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/448/course-complete-81fb30908f005de5c75e5376d041f05f.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>초급</span>
  <div class='di dn--m'>
  <a href="/paths/html-css" class="tag tag--header tag--html-css">TOEFL</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/front-end-foundations" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Front-end Foundations&quot;,&quot;source&quot;:&quot;All Courses&quot;}">일상생활의 비급표현 익히기</a>
  <div class='dn di--m'>
  <a href="/paths/html-css" class="tag tag--header tag--html-css">HTML/CSS</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>흑형들에게 직접 배우는 슬랭.</p>
  </div>
  </article>

  </div>
  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_114' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/mastering-github"><img alt="Mastering GitHub Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/443/complete-mastering-github-e998c0ab56c79b9074ad5e3c1427691a.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>중급</span>
  <div class='di dn--m'>
  <a href="/paths/electives" class="tag tag--header tag--electives">TOEIC</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/mastering-github" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Mastering GitHub&quot;,&quot;source&quot;:&quot;All Courses&quot;}">
    단어로 익히는 숙어표현 3000
  </a>
  <div class='dn di--m'>
  <a href="/paths/electives" class="tag tag--header tag--electives">Electives</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>단어로만 뜯어보면 절대 알 수 없는 자주쓰는 영숙어 3000제.</p>
  </div>
  </article>

  </div>
  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_113' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/javascript-best-practices"><img alt="JavaScript Best Practices Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/435/completed-javascript-best-practices-320e73d2694215bc24264e74a2f76528.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>고급</span>
  <div class='di dn--m'>
  <a href="/paths/javascript" class="tag tag--header tag--javascript">TEPS</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/javascript-best-practices" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;JavaScript Best Practices&quot;,&quot;source&quot;:&quot;All Courses&quot;}">기본 예절 상식과 필수 용어 2000개 마스터</a>
  <div class='dn di--m'>
  <a href="/paths/javascript" class="tag tag--header tag--javascript">TEPS</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>텝스는 역시 피치업.</p>
  </div>
  </article>

  </div>



  <div class='g-b g-b--l--1of2'>
  <article class='card card--a course' id='course_108' itemscope='' itemtype='http://schema.org/Product'>
  <div class='course-badge badge'>
  <a href="/courses/surviving-apis-with-rails"><img alt="Surviving APIs with Rails Completion Badge" class="badge-img" height="110" itemprop="image" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/378/completed-surviving-apis-with-rails-482f87efd9827f52ecaa027f733592cb.png" width="110" />
  </a></div>
  <div class='course-content'>
  <div class='mbxs mbf--m'>
  <span class='label'>중급</span>
  <div class='di dn--m'>
  <a href="/paths/ruby" class="tag tag--header tag--ruby">FREE TALKING</a>
  </div>
  </div>
  <h2 class='course-title'>
  <a href="/courses/surviving-apis-with-rails" class="course-title-link" data-segment-link="Course Visited" data-segment-properties="{&quot;course_title&quot;:&quot;Surviving APIs with Rails&quot;,&quot;source&quot;:&quot;All Courses&quot;}">일상생활에서 익히는 영어표현</a>
  <div class='dn di--m'>
  <a href="/paths/ruby" class="tag tag--header tag--ruby">Ruby</a>
  </div>
  </h2>
  <p class='course-tagline' itemprop='description'>엘에이 교포에게 배우는 일상의 영어.</p>
  </div>
  </article>

  </div>


  <div class='split mbl tac tal--m'>
  <div class='split-item'>
  <h4 class='split-cell'>Upcoming Courses</h4>
  <a href="/courses/suggest" class="btn btn--b split-cell mtm orange-btn-nobg">Suggest A Course</a>
  </div>
  </div>
  <div class='g mbl'>
  <div class='g-b g-b--l--1of3'>
  <div class='card card--a has-card-row tac'>
  <div class='card-row card-row--n bc-cadet orange-bg'>
  <span class='label tci'>Upcoming Course</span>
  </div>
  <h3>중국어</h3>
  <div class='card mbf'>
  <a class='btn btn--c btn--s js-remindMe orange-btn-nobg' data-course-id='148' data-course-title='Staying Sharp With AngularJS' data-post-url='https://www.codeschool.com/courses/staying-sharp-with-angularjs/remind_me' data-target='#create-account' data-toggle='modal' href='#'>Remind Me</a>
  </div>
  </div>
  </div>
  <div class='g-b g-b--l--1of3'>
  <div class='card card--a has-card-row tac'>
  <div class='card-row card-row--n bc-cadet orange-bg'>
  <span class='label tci'>Upcoming Course</span>
  </div>
  <h3>일본어</h3>
  <div class='card mbf'>
  <a class='btn btn--c btn--s js-remindMe orange-btn-nobg' data-course-id='149' data-course-title='Try SQL' data-post-url='https://www.codeschool.com/courses/try-sql/remind_me' data-target='#create-account' data-toggle='modal' href='#'>Remind Me</a>
  </div>
  </div>
  </div>
  <div class='g-b g-b--l--1of3'>
  <div class='card card--a has-card-row tac'>
  <div class='card-row card-row--n bc-cadet orange-bg'>
  <span class='label tci'>Upcoming Course</span>
  </div>
  <h3>스페인어</h3>
  <div class='card mbf'>
  <a class='btn btn--c btn--s js-remindMe orange-btn-nobg' data-course-id='150' data-course-title='Building Blocks of Express.js' data-post-url='https://www.codeschool.com/courses/building-blocks-of-express-js/remind_me' data-target='#create-account' data-toggle='modal' href='#'>Remind Me</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <form class='modal fade' id='create-account' method='post'>
  <div class='modal-dialog'>
  <div class='modal-content'>
  <div class='modal-header'>
  <h3>Enter your Email</h3>
  <p class='mbf'>We'll remind you when <span class='js-remindMe-courseTitle'>the course</span> is released.</p>
  <a href="#" class="modal-close close" data-dismiss="modal"><b class='srt'>Close</b>
  </a></div>
  <div class='modal-body'>
  <fieldset class='form-field'>
  <label class='form-label' for='email'>Email</label>
  <input class='form-input' id='email' name='email' required type='email'>
  </fieldset>
  <p class='card card--c mbf tac'>We will only email you once this course is released.</p>
  </div>
  <div class='modal-footer'>
  <input class='form-btn btn' data-disable-with='Creating Reminder...' type='submit' value='Remind Me'>
  </div>
  </div>
  </div>
  </form>

  </main>
