

<main class='content'><div class='row'>
<div class='cell cell--s well well--l'>
<div class='card card--a card--l has-card-section'>
<div class='card-section'>
<div class='bucket'>
<div class='bucket-media dn db--m'>
<img alt="" class="thumb thumb--m" height="100" src="https://secure.gravatar.com/avatar/7646061660c88955eca4f8a15b85417e.jpg?s=100&r=pg&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F1c02274fedcce55a289172bfb8db25ab.jpg%3Fs%3D100%26r%3Dpg" width="100" />
</div>
<div class='bucket-content'>
<h1 class='th1'>WonSup Lee</h1>
<p class='mbs tcs'>
<i class='icn icn--avatar'></i>
onesuplee
</p>
<ul class='list list--inline tsm'>
<li class='list-item'>
<strong>12</strong>
Courses Completed
</li>
<li class='list-item'>
<strong>625 min.</strong>
Total lesson time
</li>
</ul>
</div>
</div>
</div>


<div class='card-section'>
<h2 class='mbm tac'>3회차 FEEDBACK</h2>

<div class='g-b g-b--m--1of2' style='float: none;'>
<div class='card card--a card--xs'>
<%= video_tag("ad.mp4", {id:"vid", controls:"control", style:"width: 100%;"}) %>
<!-- <div class='video video--backdrop video--sublime'>
<video class='mxp-videoplay-introvideo sublime' data-player-kit='3' data-settings='autoresize:fit' height='360' poster='https://d1tijy5l7mg5kk.cloudfront.net/assets/poster-gregg-7b56cd72b5f8d74bf5a097faaa2a1f10.jpg' preload='none' width='640'>
<source data-quality='hd' src='http://youtu.be/pPvyzXaFWJM' type='video/mp4'>
<source type='video/mp4'>
</video>

</div> -->
</div>
</div>
</div>


<br>
<div class='card-section'>
<h2 class='mbm tac'>Completed Courses</h2>
<div class='card card--b mbm'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge badge--s'>
<img alt="Rails for Zombies 2 Completion Badge" class="badge-img" src="https://d1ffx7ull4987f.cloudfront.net/images/courses/small_badge/5/rails-for-zombies-2-73f7bb30c0b9d7a00eba21c8dc26a00c.png" width="55" />
</div>
</div>
<div class='bucket-content'>
<h3><a href="#" class='orange-deco-text'>글로벌 창업가가 알아야 할 필수 표현 1500제</a></h3>
<p class='mbf tcs'><time class="js-relative-date" datetime="2014-01-24T05:07:14Z" title="January 24, 2014 05:07">Fri, 24 Jan 2014 05:07:14 +0900</time></p>
</div>
</div>
</div>

<div class='card card--b mbm'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge badge--s'>
<img alt="JavaScript Road Trip Part 1 Completion Badge" class="badge-img" src="https://d1ffx7ull4987f.cloudfront.net/images/courses/small_badge/100/javascript-road-trip-part-1-b297a736f7e23447ad0b9e2c7f083997.png" width="55" />
</div>
</div>
<div class='bucket-content'>
<h3><a href="#" class='orange-deco-text'>자기소개 제대로 하기</a></h3>
<p class='mbf tcs'><time class="js-relative-date" datetime="2014-01-20T18:09:44Z" title="January 20, 2014 18:09">Mon, 20 Jan 2014 18:09:44 +0900</time></p>
</div>
</div>
</div>

<div class='card card--b mbm'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge badge--s'>
<img alt="JavaScript Road Trip Part 3 Completion Badge" class="badge-img" src="https://d1ffx7ull4987f.cloudfront.net/images/courses/small_badge/104/javascript-road-trip-part-3-fbc628ee38f82e1a36203e448b3fbd99.png" width="55" />
</div>
</div>
<div class='bucket-content'>
<h3><a href="/courses/javascript-road-trip-part-3" class='orange-deco-text'>뉴요커들이 쓰는 실제 표현</a></h3>
<p class='mbf tcs'><time class="js-relative-date" datetime="2014-01-20T17:55:17Z" title="January 20, 2014 17:55">Mon, 20 Jan 2014 17:55:17 +0900</time></p>
</div>
</div>
</div>

<div class='card card--b mbm'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge badge--s'>
<img alt="Rails 4 Patterns Completion Badge" class="badge-img" src="https://d1ffx7ull4987f.cloudfront.net/images/courses/small_badge/101/rails-4-patterns-bd9799a31c646ebda58f6b06a77423a0.png" width="55" />
</div>
</div>
<div class='bucket-content'>
<h3><a href="/courses/rails-4-patterns" class='orange-deco-text'>FREE TALKING</a></h3>
<p class='mbf tcs'><time class="js-relative-date" datetime="2014-01-18T21:52:05Z" title="January 18, 2014 21:52">Sat, 18 Jan 2014 21:52:05 +0900</time></p>
</div>
</div>
</div>

</div>
</div>


</div>
</div>
</div>
</main>
