<main class='content'>
<% if params[:flag] == "1" %>
  <script>
    setTimeout(noti, 6);

    function noti(){
      $('#notify-box').css('opacity', '0.0');
      $('#notify-box').animate({opacity: '1.0'});
    }
  </script>
  <a href='feedback' id='notify-box'><div style='background-color: #FFFF99; width: 256px; height: 72px; position: absolute; top: 16px; right: 16px; text-align: center;'><br>피드백이 도착하였습니다!</div></a>
<% end %>
<div class='row row--b'>
<div class='cell well tci'>
<div class='mbm mbl--m pts tac'>
<h1 class='mbf tci'>PitchUp으로 외국어 speech를</br> 제대로 공부하자!</h1>
<p class='oph tci tsi tsl'>피치업!!!</p>
</div>
<div class='g mbxl--m'>
<div class='g-b g-b--m--1of2'>
<div class='card card--a card--xs'>
<div class='video video--backdrop video--sublime'>
<video class='mxp-videoplay-introvideo sublime' data-player-kit='3' data-settings='autoresize:fit' height='360' poster='https://d1tijy5l7mg5kk.cloudfront.net/assets/poster-gregg-7b56cd72b5f8d74bf5a097faaa2a1f10.jpg' preload='none' width='640'>
<source data-quality='hd' src='//www.viddler.com/file/d/8421cbee.mp4?vfid=708a025a4723d1d8a1c083716fb880b3' type='video/mp4'>
<source type='video/mp4'>
</video>

</div>
</div>
</div>
<div class='g-b g-b--m--1of2'>
<p class='mtm tsxl tfl'>
PitchUp은 외국어 말하기 능력 향상을 원어민이 1:1로 도와주는 외국어 말하기 학습 서비스입니다. 자신의 실력을 테스트하고
</p>
<div class='mbl tac tal--m'>
<a href="/courses" class="btn btn--wide bc-cadet-dark mbs mbf--l">학습 코스 찾기</a>
<%= link_to "레벨 테스트 하고 맞춤 강의 찾기", pc_test_path, {class: "link link--invert dib di--l mls tsm"} %>
</div>
<!-- <ul class='list list--object'>
<li class='list-item list-item--label'>Learn:</li>
<li class='list-item'><a href="/paths/electives#git-basics" class="tag tag--electives">Git</a></li>
<li class='list-item'><a href="/paths/javascript#backbone" class="tag tag--javascript">Backbone.js</a></li>
<li class='list-item'><a href="/paths/html-css#sass" class="tag tag--html-css">Sass</a></li>
<li class='list-item'><a href="/paths/ruby#starting-rails" class="tag tag--ruby">Rails</a></li>
<li class='list-item'><a href="/paths/javascript#jquery-basics" class="tag tag--javascript">jQuery</a></li>
</ul> -->
</div>
</div>
</div>
</div>
<div class='row'>
<div class='cell well well--l'>
<h2 class='mbm tac'>
<p>
  <span>자신의 수준을</span>
  <%= link_to "테스트", pc_test_path %><span>하여</span>
</p>
<p>
  <span> 수준별 학습을 하실 수 있습니다.</span>
</p>
</h2>

</div>
</div>
</main>
