<header>
	<img class="logo" alt = "logo">
	<nav>
		<ul>
			<a href="">
				<li>Brand Flim</li>
			</a>
			<a href="">
				<li>Poster Coupon</li>
			</a>
			<a href="">
				<li>Brand Story</li>
			</a>
		</ul>
	</nav>
	<a href="">
		<div>Store</div>
	</a>
</header>
<article>
	<section id = "">

		<vidio></vidio>
	</section>
	<section id = "">
		
	</section>
	<section id = "">
		
	</section>
</article>
<footer></footer>
