<header class = "navigation_bar">
	<%= image_tag("pc/logo.png", class: "logo", :alt => "logo") %>
	<nav>
		<ul>
			<a href="brand_flim">
				<%= image_tag("p") %> 
			</a>
			<a href="poster_coupon">

			</a>
			<a href="brand_talk">

			</a>
		</ul>
	</nav>
	<a href="">

	</a>
</header>
<article>
	<section id = "brand_flim">
		<%= image_tag("title.png", :alt => "title") %>
		<vidio></vidio>
	</section>
	<section id = "poster_coupon">
		
	</section>
	<section id = "brand_talk">
		
	</section>
</article>
<footer></footer>
