<div id="leaflet_inbox" class="leaflet_inbox owl-carousel owl-theme">
	<% 18.times do |i|%>
	<div class="item">
		<%= image_tag("leaflet/20140704_#{i+1}.jpg", class: "brand_leaflet") %>
  </div>
	<% end %>
</div>