

<main class='content'><div class='row'>
<div class='cell cell--s well well--l'>
<div class='card card--a card--l has-card-section'>
<div class='card-section'>
<div class='bucket'>
<div class='bucket-media dn db--m'>
<img alt="" class="thumb thumb--m" height="100" src="https://secure.gravatar.com/avatar/7646061660c88955eca4f8a15b85417e.jpg?s=100&r=pg&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F1c02274fedcce55a289172bfb8db25ab.jpg%3Fs%3D100%26r%3Dpg" width="100" />
</div>
<div class='bucket-content'>
<h1 class='th1'>peterkim</h1>
<p class='mbs tcs'>
<i class='icn icn--avatar'></i>
peterkim
</p>
<ul class='list list--inline tsm'>
<li class='list-item'>
<strong>12</strong>
Courses Completed
</li>
<li class='list-item'>
<strong>3</strong>
Screencasts Watched
</li>
<li class='list-item'>
<strong>70,825</strong>
Total Points
</li>
</ul>
</div>
</div>
</div>


<div class='card-section'>
<h2 class='mbm tac'>학습 히스토리</h2>
<div class='card card--b mbm'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge badge--s'>
<img alt="Rails for Zombies 2 Completion Badge" class="badge-img" src="https://d1ffx7ull4987f.cloudfront.net/images/courses/small_badge/5/rails-for-zombies-2-73f7bb30c0b9d7a00eba21c8dc26a00c.png" width="55" />
</div>
</div>
<div class='bucket-content'>
<h3><a href="/courses/rails-for-zombies-2" class='orange-deco-text'>PUBLIC SPEAKING COURSE</a></h3>
<p class='mbf tcs'><time class="js-relative-date" datetime="2014-01-24T05:07:14Z" title="January 24, 2014 05:07">Fri, 24 Jan 2014 05:07:14 +0000</time></p>
</div>
</div>
</div>

<div class='card card--b mbm'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge badge--s'>
<img alt="JavaScript Road Trip Part 1 Completion Badge" class="badge-img" src="https://d1ffx7ull4987f.cloudfront.net/images/courses/small_badge/100/javascript-road-trip-part-1-b297a736f7e23447ad0b9e2c7f083997.png" width="55" />
</div>
</div>
<div class='bucket-content'>
<h3><a href="/courses/javascript-road-trip-part-1" class='orange-deco-text'>JavaScript Road Trip Part 1</a></h3>
<p class='mbf tcs'><time class="js-relative-date" datetime="2014-01-20T18:09:44Z" title="January 20, 2014 18:09">Mon, 20 Jan 2014 18:09:44 +0000</time></p>
</div>
</div>
</div>

<div class='card card--b mbm'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge badge--s'>
<img alt="JavaScript Road Trip Part 3 Completion Badge" class="badge-img" src="https://d1ffx7ull4987f.cloudfront.net/images/courses/small_badge/104/javascript-road-trip-part-3-fbc628ee38f82e1a36203e448b3fbd99.png" width="55" />
</div>
</div>
<div class='bucket-content'>
<h3><a href="/courses/javascript-road-trip-part-3" class='orange-deco-text'>JavaScript Road Trip Part 3</a></h3>
<p class='mbf tcs'><time class="js-relative-date" datetime="2014-01-20T17:55:17Z" title="January 20, 2014 17:55">Mon, 20 Jan 2014 17:55:17 +0000</time></p>
</div>
</div>
</div>

<div class='card card--b mbm'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge badge--s'>
<img alt="JavaScript Road Trip Part 2 Completion Badge" class="badge-img" src="https://d1ffx7ull4987f.cloudfront.net/images/courses/small_badge/102/javascript-road-trip-part-2-674948eb6d56cd11e37b9db8d5f01c90.png" width="55" />
</div>
</div>
<div class='bucket-content'>
<h3><a href="/courses/javascript-road-trip-part-2" class='orange-deco-text'>JavaScript Road Trip Part 2</a></h3>
<p class='mbf tcs'><time class="js-relative-date" datetime="2014-01-20T17:09:59Z" title="January 20, 2014 17:09">Mon, 20 Jan 2014 17:09:59 +0000</time></p>
</div>
</div>
</div>

<div class='card card--b mbm'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge badge--s'>
<img alt="Testing with RSpec Completion Badge" class="badge-img" src="https://d1ffx7ull4987f.cloudfront.net/images/courses/small_badge/14/testing-with-rspec-87da28d4a0a26a4127286fe3fdb60e7d.png" width="55" />
</div>
</div>
<div class='bucket-content'>
<h3><a href="/courses/testing-with-rspec" class='orange-deco-text'>Testing with RSpec</a></h3>
<p class='mbf tcs'><time class="js-relative-date" datetime="2014-01-19T01:25:30Z" title="January 19, 2014 01:25">Sun, 19 Jan 2014 01:25:30 +0000</time></p>
</div>
</div>
</div>

<div class='card card--b mbm'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge badge--s'>
<img alt="Rails Testing for Zombies Completion Badge" class="badge-img" src="https://d1ffx7ull4987f.cloudfront.net/images/courses/small_badge/10/rails-testing-for-zombies-18d25805c67cbbb289eaea43d589910b.png" width="55" />
</div>
</div>
<div class='bucket-content'>
<h3><a href="/courses/rails-testing-for-zombies" class='orange-deco-text'>Rails Testing for Zombies</a></h3>
<p class='mbf tcs'><time class="js-relative-date" datetime="2014-01-19T00:52:41Z" title="January 19, 2014 00:52">Sun, 19 Jan 2014 00:52:41 +0000</time></p>
</div>
</div>
</div>

<div class='card card--b mbm'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge badge--s'>
<img alt="Ruby Bits Part 2 Completion Badge" class="badge-img" src="https://d1ffx7ull4987f.cloudfront.net/images/courses/small_badge/22/ruby-bits-part-2-f754f130896dbd3e00ece8cd46566251.png" width="55" />
</div>
</div>
<div class='bucket-content'>
<h3><a href="/courses/ruby-bits-part-2" class='orange-deco-text'>Ruby Bits Part 2</a></h3>
<p class='mbf tcs'><time class="js-relative-date" datetime="2014-01-19T00:38:35Z" title="January 19, 2014 00:38">Sun, 19 Jan 2014 00:38:35 +0000</time></p>
</div>
</div>
</div>

<div class='card card--b mbm'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge badge--s'>
<img alt="Ruby Bits Completion Badge" class="badge-img" src="https://d1ffx7ull4987f.cloudfront.net/images/courses/small_badge/20/ruby-bits-6b8394bae969a2bda84c0a02ebdcb51d.png" width="55" />
</div>
</div>
<div class='bucket-content'>
<h3><a href="/courses/ruby-bits" class='orange-deco-text'>Ruby Bits</a></h3>
<p class='mbf tcs'><time class="js-relative-date" datetime="2014-01-18T23:30:24Z" title="January 18, 2014 23:30">Sat, 18 Jan 2014 23:30:24 +0000</time></p>
</div>
</div>
</div>

<div class='card card--b mbm'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge badge--s'>
<img alt="Rails Best Practices Completion Badge" class="badge-img" src="https://d1ffx7ull4987f.cloudfront.net/images/courses/small_badge/2/rails-best-practices-99dac501775a2c481c3b01f164607f23.png" width="55" />
</div>
</div>
<div class='bucket-content'>
<h3><a href="/courses/rails-best-practices" class='orange-deco-text'>Rails Best Practices</a></h3>
<p class='mbf tcs'><time class="js-relative-date" datetime="2014-01-18T22:57:16Z" title="January 18, 2014 22:57">Sat, 18 Jan 2014 22:57:16 +0000</time></p>
</div>
</div>
</div>

<div class='card card--b mbm'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge badge--s'>
<img alt="Rails 4: Zombie Outlaws Completion Badge" class="badge-img" src="https://d1ffx7ull4987f.cloudfront.net/images/courses/small_badge/28/rails-4-zombie-outlaws-6f2cd5d8df7b1da8ab391a69ef09add0.png" width="55" />
</div>
</div>
<div class='bucket-content'>
<h3><a href="/courses/rails-4-zombie-outlaws" class='orange-deco-text'>Rails 4: Zombie Outlaws</a></h3>
<p class='mbf tcs'><time class="js-relative-date" datetime="2014-01-18T22:23:33Z" title="January 18, 2014 22:23">Sat, 18 Jan 2014 22:23:33 +0000</time></p>
</div>
</div>
</div>

<div class='card card--b mbm'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge badge--s'>
<img alt="Rails 4 Patterns Completion Badge" class="badge-img" src="https://d1ffx7ull4987f.cloudfront.net/images/courses/small_badge/101/rails-4-patterns-bd9799a31c646ebda58f6b06a77423a0.png" width="55" />
</div>
</div>
<div class='bucket-content'>
<h3><a href="/courses/rails-4-patterns" class='orange-deco-text'>Rails 4 Patterns</a></h3>
<p class='mbf tcs'><time class="js-relative-date" datetime="2014-01-18T21:52:05Z" title="January 18, 2014 21:52">Sat, 18 Jan 2014 21:52:05 +0000</time></p>
</div>
</div>
</div>

</div>


</div>
</div>
</div>
</main>
