

<main class='content'><div class='hero hero--banner hero--banner--dark row row--d' style="background: #6c6f98 url('https://d1ffx7ull4987f.cloudfront.net/images/courses/hero/113/javascript-best-practices-1603713d5eaa5590a4ef0d67757f9155.jpg') top center no-repeat;">
  <div class='cell well well--xl'>
    <div class='g'>
      <div class='g-b g-b--m--3of4'>
        <div class='bucket bucket--l bucket--flag mts--m tac tal--m'>
          <div class='bucket-media'>
          </div>
          <div class='bucket-content'>
            <p class='mbxs'><a href="/paths/javascript" class="opf tag tag--javascript">TOEFL SPEAKING</a></p>
            <h1 class='hero-title mbs ttu'>글로벌 창업가가 알아야 할 필수 표현 1500</h1>
            <a href="/enroll" class="btn btn--wide">Enroll now to play</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='cell well well--l'>
    <div class='g'>
      <div class='g-b g-b--l--3of5'>
        <div class='mbm'>
          <div class='mbl--m'>
            <h2 class='label'>코스 개요</h2>
            <p>Become a more informed, conscientious user of JavaScript as you explore time-tested, useful techniques that will improve legibility, performance quality, and safety in your scripts.</p>
          </div>
          <h2 class='mbm tcs tss ttu twb'>생생한 후기</h2>

            </div>
          </div>
      <div class='g-b g-b--l--2of5'>
        <ul class='g g--condensed lr mbm'>
          <li class='g-b g-b--1of2'>
            <a href="#reviews" class="btn btn--b btn--block ellipsis js-scrollTo-reviews">39 Reviews</a>
          </li>
        </ul>
          <div class='card card--a has-card-section mbl'>
            <div class='card-section'>
              <h2 class='mbm tcs tss ttu twb'>피치업 교수진 현황</h2>
              <div id='teaching-assistants'>
                <ul class='g list'>
                  <li class='g-b g-b--m--1of3'>
                    <%= render 'professor1'%>
                  </li>
                  <li class='g-b g-b--m--1of3'>
                    <%= render 'professor2'%>
                  </li>
                  <li class='g-b g-b--m--1of3'>
                    <%= render 'professor3'%>
                  </li>
                  <li class='g-b g-b--m--1of3'>
                    <%= render 'professor4'%>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row row--b hero hero--fade hero--pattern tac tal--m'>
    <div class='cell cell--m well well--l'>
      <div class='bucket bucket--flag bucket--l'>
        <div class='bucket-media dn db--m'>
          <img alt="Official Student Badge" class="thumb" height="220" src="https://d1tijy5l7mg5kk.cloudfront.net/assets/badge-student-120aaa7091f872de0d64c8b165c8b15b.svg" width="220" />
        </div>
        <div class='bucket-content'>
          <p class='mbs tci tfl tsxl'>로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. </p>
          <p class='mbs'><a href="/enroll" class="btn btn--l bc-cadet-dark" data-segment-link="User Clicked Enroll" data-segment-properties="{&quot;course_title&quot;:&quot;JavaScript Best Practices&quot;}">Enroll Now</a></p>
          <p><a href="https://www.codeschool.com/users/sign_in" class="dib tc-hi tsm">Or Log In to Your Account</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class='row row--a' id='reviews'>
    <div class='cell well'>
      <h2 class='mbm mbl--m tcs tss ttu twb'>Course Reviews (39)</h2>
      <div class='g collection collection--m--1of2 js-reviews'>
        <div class='g-b g-b--m--1of2 collection-item'>
          <div class='card card--b'>
            <div class='bucket'>
              <div class='bucket-media dn db--m'>
                <img alt="" class="thumb thumb--m" height="50" itemprop="image" src="https://secure.gravatar.com/avatar/13a04c7f9622389b998b6fce832f51f9.jpg?s=50&r=pg&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F1c02274fedcce55a289172bfb8db25ab.jpg%3Fs%3D50%26r%3Dpg" width="50" />
              </div>
              <div class='bucket-content'>
                <h4 class='label mbs mbxs--m'>
                  <a href="/users/Technocracy"><strong>Technocracy</strong>
                  </a></h4>
                  <p>로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class='g-b g-b--m--1of2 collection-item'>
              <div class='card card--b'>
                <div class='bucket'>
                  <div class='bucket-media dn db--m'>
                    <img alt="" class="thumb thumb--m" height="50" itemprop="image" src="https://secure.gravatar.com/avatar/92733fcb0a83cbae7a2f111cfcc54a55.jpg?s=50&r=pg&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F1c02274fedcce55a289172bfb8db25ab.jpg%3Fs%3D50%26r%3Dpg" width="50" />
                  </div>
                  <div class='bucket-content'>
                    <h4 class='label mbs mbxs--m'>
                      <a href="/users/codeforcoffee"><strong>codeforcoffee</strong>
                      </a></h4>
                      <p>로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. .</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class='g-b g-b--m--1of2 collection-item'>
                <div class='card card--b'>
                  <div class='bucket'>
                    <div class='bucket-media dn db--m'>
                      <img alt="" class="thumb thumb--m" height="50" itemprop="image" src="https://secure.gravatar.com/avatar/376ea669cddd2009810487e5bc219dd1.jpg?s=50&r=pg&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F1c02274fedcce55a289172bfb8db25ab.jpg%3Fs%3D50%26r%3Dpg" width="50" />
                    </div>
                    <div class='bucket-content'>
                      <h4 class='label mbs mbxs--m'>
                        <a href="/users/yanikjay"><strong>yanikjay</strong>
                        </a></h4>
                        <p>로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. 로렘임숩 무궁화꽃이피었습니다. </p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class='mbm mbl--m tac'>
                  <a href="https://www.codeschool.com/courses/javascript-best-practices/reviews" class="btn btn--b btn--wide js-reviews-toggle">Show More</a>
                </div>
              </div>
            </div>
            <form class='modal fade' id='create-account' method='post'>
              <div class='modal-dialog'>
                <div class='modal-content'>
                  <div class='modal-header'>
                    <h3>Enter your Email</h3>
                    <p class='mbf'>We'll remind you when <span class='js-remindMe-courseTitle'>the course</span> is released.</p>
                    <a href="#" class="modal-close close" data-dismiss="modal"><b class='srt'>Close</b>
                    </a></div>
                    <div class='modal-body'>
                      <fieldset class='form-field'>
                        <label class='form-label' for='email'>Email</label>
                        <input class='form-input' id='email' name='email' required type='email'>
                      </fieldset>
                      <p class='card card--c mbf tac'>We will only email you once this course is released.</p>
                    </div>
                    <div class='modal-footer'>
                      <input class='form-btn btn' data-disable-with='Creating Reminder...' type='submit' value='Remind Me'>
                    </div>
                  </div>
                </div>
              </form>

            </main>