

<main class='content'><div class='hero hero--banner hero--banner--dark row row--d orange-bg'>
<div class='cell well well--xl'>
<div class='g'>
<div class='g-b g-b--m--3of4'>
<div class='bucket bucket--l bucket--flag mts--m tac tal--m'>
<div class='bucket-media'>
<div class='badge badge--m dn db--m'>
<img alt="Badge for Completion of JavaScript Best Practices" class="badge-img" height="200" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/435/completed-javascript-best-practices-320e73d2694215bc24264e74a2f76528.png" width="200" />
</div>
</div>
<div class='bucket-content'>
<p class='mbxs'><a href="/paths/javascript" class="opf tag tag--javascript" style='background-color: skyblue;'>TOEFL SPEAKING</a></p>
<h1 class='hero-title mbs ttu'>PUBLIC SPEAKING COURSE</h1>
<a href="/enroll" class="btn btn--wide orange-btn">Enroll now to play</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='cell well well--l'>
<div class='g'>
<div class='g-b g-b--l--3of5'>
<div class='mbm'>
<div class='mbl--m'>
<h2 class='label'>코스 개요</h2>
<p>Become a more informed, conscientious user of JavaScript as you explore time-tested, useful techniques that will improve legibility, performance quality, and safety in your scripts.</p>
</div>
<h2 class='mbm tcs tss ttu twb'>코스소개</h2>
<div class='card card--b mbm--m mbs' id='course-overview'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge'>
<img alt="Badge for level 1 on JavaScript Best Practices" class="badge-img" height="110" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/431/level-1-on-javascript-best-practices-dbf4a18275286110037ee1051cbe3f6a.png" width="110" />
</div>
</div>
<div class='bucket-content'>
<h3>
<b>Level 1</b>
The Sword of Syntax
<span class='db di--m mls--m tcs tsxs twn'>4 Videos | 21 Challenges</span>
</h3>
<p class='mbf'>Discover useful alternate syntax for conditionals and assignment.</p>
</div>
</div>
</div>
<div class='card card--b mbm--m mbs' id='course-overview'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge'>
<img alt="Badge for level 2 on JavaScript Best Practices" class="badge-img" height="110" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/432/level-2-on-javascript-best-practices-79bffdc90ec0ff126fc1659ba99011ba.png" width="110" />
</div>
</div>
<div class='bucket-content'>
<h3>
<b>Level 2</b>
The Pendant of Performance
<span class='db di--m mls--m tcs tsxs twn'>5 Videos | 22 Challenges</span>
</h3>
<p class='mbf'>Explore techniques to improve execution speed and measure performance.</p>
</div>
</div>
</div>
<div class='card card--b mbm--m mbs' id='course-overview'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge'>
<img alt="Badge for level 3 on JavaScript Best Practices" class="badge-img" height="110" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/433/level-3-on-javascript-best-practices-85675b292fa04dd8eb4d7f58a7f5a9e7.png" width="110" />
</div>
</div>
<div class='bucket-content'>
<h3>
<b>Level 3</b>
The Crystal of Caution
<span class='db di--m mls--m tcs tsxs twn'>4 Videos | 25 Challenges</span>
</h3>
<p class='mbf'>Examine common JavaScript pitfalls and the best ways to avoid them.</p>
</div>
</div>
</div>
<div class='card card--b mbm--m mbs' id='course-overview'>
<div class='bucket bucket--flag'>
<div class='bucket-media dn db--m'>
<div class='badge'>
<img alt="Badge for level 4 on JavaScript Best Practices" class="badge-img" height="110" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/434/level-4-on-javascript-best-practices-d4e9474e7e997185fb83e1921471339b.png" width="110" />
</div>
</div>
<div class='bucket-content'>
<h3>
<b>Level 4</b>
The Mail of Modularity
<span class='db di--m mls--m tcs tsxs twn'>4 Videos | 23 Challenges</span>
</h3>
<p class='mbf'>Learn how to organize code and protect data with a simple Module pattern.</p>
</div>
</div>
</div>
</div>
</div>
<div class='g-b g-b--l--2of5'>
<ul class='g g--condensed lr mbm'>
<li class='g-b g-b--1of2'>
<a href="#reviews" class="btn btn--b btn--block ellipsis js-scrollTo-reviews orange-btn-nobg">39 Reviews</a>
</li>
<li class='g-b g-b--1of2'>
<a href="http://discuss.codeschool.com/" class="btn btn--b btn--block ellipsis orange-btn-nobg">Discuss
<span class='dn di--m'>This Course</span>
</a></li>
</ul>
<div class='card card--a has-card-section mbl'>
<!-- <div class='card-section'>
<h2 class='label'>Recommended Prerequisites</h2>
<div class='markdown tsm'>
<ul>
<li><a href="http://www.codeschool.com/courses/javascript-road-trip-part-1">JavaScript Road Trip Part 1</a></li>
<li><a href="https://www.codeschool.com/courses/javascript-road-trip-part-2">JavaScript Road Trip Part 2</a></li>
<li><a href="https://www.codeschool.com/courses/javascript-road-trip-part-3">JavaScript Road Trip Part 3</a></li>
</ul>

</div>
</div> -->
<div class='card-section'>
<h2 class='mbf tcs tss ttu twb'>About The Professor</h2>
<div class='card-section'>
<div class='bucket'>
<div class='bucket-media dn db--m'>
<img alt="Jason Millhouse" class="thumb thumb--m mbs mhc mhf--m" src="https://d1ffx7ull4987f.cloudfront.net/images/professors/avatar/56/56-bc5a9685697cc9f7f44816cd479aa94c.png" width="100" />
</div>
<div class='bucket-content'>
<h3><a href="http://twitter.com/itsthrillhouse" title="Follow Jason on Twitter" class='orange-deco-text'>Jason Millhouse</a></h3>
<p class='mbf tsm'>Jason has been teaching since he was a kid and has racked up a bunch of Education degrees since then. A glutton for punishment, he's nearly finished with a Computer Science degree, too. He's built and taught curriculum for over 100 DVDs worth of educational material, barely living to tell the tale. He spends his lack of spare time wishing he could play a few video games, impersonating the British voice of his corgi, Charlie, and being the actual Voice of the University of Central Florida Marching Knights.</p>
</div>
</div>
</div>
</div>
<div class='card-section'>
<h2 class='mbm tcs tss ttu twb'>Teaching Assistants</h2>
<div id='teaching-assistants'>
<ul class='g list'>
<li class='g-b g-b--m--1of3'>
<img alt="Alyssa Nicoll" class="thumb thumb--m mbxs mhc" src="https://d1ffx7ull4987f.cloudfront.net/images/professors/avatar_thumb/58/58-thumb-5b1c80b5f4db6690cf25de213b35824c.jpg" width="100" />
<p class='tac tss'>
<strong><a href="http://twitter.com/AlyssaNicoll" class='orange-deco-text' target="blank">Alyssa Nicoll</a></strong>
</p>
</li>
<li class='g-b g-b--m--1of3'>
<img alt="Adam Rensel" class="thumb thumb--m mbxs mhc" src="https://d1ffx7ull4987f.cloudfront.net/images/professors/avatar_thumb/11/11-thumb-58b1b361f64bdd0c22c1c435ae39413b.jpeg" width="100" />
<p class='tac tss'>
<strong><a href="http://twitter.com/adamrensel" class='orange-deco-text' target="blank">Adam Rensel</a></strong>
</p>
</li>
<li class='g-b g-b--m--1of3'>
<img alt="" class="thumb thumb--m mbxs mhc" height="100" src="https://secure.gravatar.com/avatar/8d1f6d4e67c0b9de5e0d7489eaa7f5e1.jpg?s=100&r=pg&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F1c02274fedcce55a289172bfb8db25ab.jpg%3Fs%3D100%26r%3Dpg" width="100" />
<p class='tac tss'>
<strong><a href="http://twitter.com/jameswritescode" class='orange-deco-text' target="blank">James Newton</a></strong>
</p>
</li>
<li class='g-b g-b--m--1of3'>
<img alt="Russell Centanni" class="thumb thumb--m mbxs mhc" src="https://d1ffx7ull4987f.cloudfront.net/images/professors/avatar_thumb/94/94-thumb-fb41f9d4876bb10309dbda7fcc0363ac.jpeg" width="100" />
<p class='tac tss'>
<strong><a href="http://twitter.com/lizardruss" class='orange-deco-text' target="blank">Russell Centanni</a></strong>
</p>
</li>
</ul>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
<div class='row row--b hero tac tal--m orange-bg'>
<div class='cell cell--m well well--l'>
<div class='bucket bucket--flag bucket--l'>
<div class='bucket-media dn db--m'>
<img alt="Official Student Badge" class="thumb" height="220" src="https://d1tijy5l7mg5kk.cloudfront.net/assets/badge-student-120aaa7091f872de0d64c8b165c8b15b.svg" width="220" />
</div>
<div class='bucket-content'>
<p class='mbs tci tfl tsxl'>Enroll yourself or your team in Code School and get unlimited access to all courses, Code TV screencasts, build your report card, and more.</p>
<p class='mbs'><a href="/enroll" class="btn btn--l bc-cadet-dark orange-btn" data-segment-link="User Clicked Enroll" data-segment-properties="{&quot;course_title&quot;:&quot;JavaScript Best Practices&quot;}">Enroll Now</a></p>
<p><a href="https://www.codeschool.com/users/sign_in" class="dib tc-hi tsm white-deco-text">Or Log In to Your Account</a></p>
</div>
</div>
</div>
</div>
<div class='row row--a' id='reviews'>
<div class='cell well'>
<h2 class='mbm mbl--m tcs tss ttu twb'>Course Reviews (39)</h2>
<div class='g collection collection--m--1of2 js-reviews'>
<div class='g-b g-b--m--1of2 collection-item'>
<div class='card card--b'>
<div class='bucket'>
<div class='bucket-media dn db--m'>
<img alt="" class="thumb thumb--m" height="50" itemprop="image" src="https://secure.gravatar.com/avatar/13a04c7f9622389b998b6fce832f51f9.jpg?s=50&r=pg&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F1c02274fedcce55a289172bfb8db25ab.jpg%3Fs%3D50%26r%3Dpg" width="50" />
</div>
<div class='bucket-content'>
<h4 class='label mbs mbxs--m'>
<a href="/users/Technocracy" class='orange-deco-text'><strong>Technocracy</strong>
</a></h4>
<p>Favorite codeschool course so far. Excellent pedagogical organization, clear, informative, and beautifully designed. The test-style challenges (multiple choice, true/false, fill-in-the-blank) were also a very nice augmentation to the code challenges...they definitely helped conceptual knowledge congeal.

P.S. Would love a course on famo.us!</p>
</div>
</div>
</div>
</div>
<div class='g-b g-b--m--1of2 collection-item'>
<div class='card card--b'>
<div class='bucket'>
<div class='bucket-media dn db--m'>
<img alt="" class="thumb thumb--m" height="50" itemprop="image" src="https://secure.gravatar.com/avatar/92733fcb0a83cbae7a2f111cfcc54a55.jpg?s=50&r=pg&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F1c02274fedcce55a289172bfb8db25ab.jpg%3Fs%3D50%26r%3Dpg" width="50" />
</div>
<div class='bucket-content'>
<h4 class='label mbs mbxs--m'>
<a href="/users/codeforcoffee" class='orange-deco-text'><strong>codeforcoffee</strong>
</a></h4>
<p>Great course. This course adds polish to all of the Javascript knowledge taught in Road Trip parts one through three. The namespacing, module pattern, ternary, and additional operator knowledge alone is enough to really give your development knowledge a great polish. While some of the knowledge in this course may be redundant to seasoned Javascript developers, I think there's a lot to absorb for everyone. I walked away from the JS Best Practices course and immediately put what I learned to use to make my code more elegant.</p>
</div>
</div>
</div>
</div>
<div class='g-b g-b--m--1of2 collection-item'>
<div class='card card--b'>
<div class='bucket'>
<div class='bucket-media dn db--m'>
<img alt="" class="thumb thumb--m" height="50" itemprop="image" src="https://secure.gravatar.com/avatar/376ea669cddd2009810487e5bc219dd1.jpg?s=50&r=pg&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F1c02274fedcce55a289172bfb8db25ab.jpg%3Fs%3D50%26r%3Dpg" width="50" />
</div>
<div class='bucket-content'>
<h4 class='label mbs mbxs--m'>
<a href="/users/yanikjay" class='orange-deco-text'><strong>yanikjay</strong>
</a></h4>
<p>You Must Take This Course. After taking the JS Roadtrip courses, this one both reinforces previously learned concepts as well as builds on them. I also loved the mixed style of learning, as this course not only has terminal-style challenges, but also fill-in-the-blanks. To top it off, the RPG-esque theme was way fun, without being over the top (I thought the road trip js prompts were a little to lengthy).
Overall, this was immensely helpful and entertaining. A++</p>
</div>
</div>
</div>
</div>

</div>
<div class='mbm mbl--m tac'>
<a href="https://www.codeschool.com/courses/javascript-best-practices/reviews" class="btn btn--b btn--wide js-reviews-toggle orange-btn-nobg">Show More</a>
</div>
</div>
</div>
<form class='modal fade' id='create-account' method='post'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<h3>Enter your Email</h3>
<p class='mbf'>We'll remind you when <span class='js-remindMe-courseTitle'>the course</span> is released.</p>
<a href="#" class="modal-close close" data-dismiss="modal"><b class='srt'>Close</b>
</a></div>
<div class='modal-body'>
<fieldset class='form-field'>
<label class='form-label' for='email'>Email</label>
<input class='form-input' id='email' name='email' required type='email'>
</fieldset>
<p class='card card--c mbf tac'>We will only email you once this course is released.</p>
</div>
<div class='modal-footer'>
<input class='form-btn btn' data-disable-with='Creating Reminder...' type='submit' value='Remind Me'>
</div>
</div>
</div>
</form>

</main>
