<input type="text" id="address_query">

<div id="test_out">
	
</div>

<form id="address">
	<input type="text" name="address-date" id="address-data">
	<input type="text" name="code6" id="code6">
</form>