<label for="address_query">주소</label>
<input type="text" id="address_query">

<div id="test_out" class="address_box">
	
</div>

<form id="address">
	<p>
		<input type="hidden" name="address-date" id="address-data">
	</p>
	<p>
		<input type="hidden" name="code6" id="code6">
	</p>
	<p>
	    <label for="address-detail">나머지주소 입력</label>
		<input type="text" id="address-detail">
	</p>
	<p>
		<input type="submit" value="응모완료">
	</p>
</form>


<%= form_for(@comment) do |f| %>
<p><span>내용</span><%= f.text_field :content%></p>
<p><span>전화번호</span><input type="text" name="user_phone"></p>
<p><%= f.submit%></p>
<% end %>