.orange-bg{
  background-color: #FF8D36;
}

.orange-text{
  color: #FF8D36;
}

.orange-btn{
  background-color: #FF8D36;
  border-width: 2px;
  border-style: solid;
  border-radius: 0%;
}

.orange-btn-nobg{
  border-width: 2px;
  border-style: solid;
  border-radius: 0%;
  border-color: #FF8D36;
  color: #FF8D36;
}

.orange-deco-text{
  color: #FF8D36;
  border-bottom-color: #FF8D36;
}

.white-deco-text{
  color: #fff;
  border-bottom-color: #fff;
}

.orange-abg{
  background-color: rgba(255, 141, 54, 0.9);
}
